extends htmlTemplate
block head
    -const pageTitle = "All Course"
    script(src="js/admin.min.js")
    script.
        window.onload = getAllCourseContent();
block body
    .container-fluid
        .col-md-7.col-md-offset-2
            h1 Course
        .col-md-3
            a(href="adminCourseTable") คัมภีร์เทวดา
        div
            .col-md-2.col-md-offset-2
                select.form-control.col-md-1#subject(onChange="getAllCourseContent()" style="margin-bottom:5px")
                    option(value="all") All Subject
                    option(value="M") Math
                    option(value="PH") Physics
                    option(value="E") English
                    option(value="CH") Chemistry
            .col-md-2
                select.form-control.col-md-1#grade(onChange="getAllCourseContent()" style="margin-bottom:5px")
                    option(value="all") All grade
                    option(value="1") P1
                    option(value="2") P2
                    option(value="3") P3
                    option(value="4") P4
                    option(value="5") P5
                    option(value="6") P6
                    option(value="7") S1
                    option(value="8") S2
                    option(value="9") S3
                    option(value="10") S4
                    option(value="11") S5
                    option(value="12") S6
            .col-md-2
                select.form-control.col-md-1#name(onChange="getAllCourseContent()" style="margin-bottom:5px")
                    option(value="all") All Tutor
                    option(value="99019") Anne
                    option(value="99018") Atom
                    option(value="99007") Bam
                    option(value="99003") BB
                    option(value="99025") Beng
                    option(value="99012") Chote
                    option(value="99006") Gag
                    option(value="99000") Hybrid
                    option(value="99010") Paan
                    option(value="99022") Pele
                    option(value="99004") Pre
                    option(value="99023") Tao
                    option(value="99008") Ten
                    option(value="99026") Third
                    option(value="99016") Ya
            .col-md-2
                select.form-control.col-md-1#time(onChange="getAllCourseContent()" style="margin-bottom:5px")
                    option(value="all") All Time
                    option(value="176400000") Sat 8
                    option(value="183600000") Sat 10
                    option(value="194400000") Sat 13
                    option(value="201600000") Sat 15
                    option(value="262800000") Sun 8
                    option(value="270000000") Sun 10
                    option(value="280800000") Sun 13
                    option(value="288000000") Sun 15
        .table-responsive.col-md-8.col-md-offset-2
            table.table.table-hover(style="font-family:'Trirong',serif")
                thead
                    tr
                        th.col-md-2 No.
                        th.col-md-2 CourseName
                        th.col-md-2 Day
                        th.col-md-3 Time
                        th.col-md-1 Tutor
                tbody#allCourseTable