extend htmlTemplate.pug
block body
    include generalTemplate.pug
    a(href="/adminCourseSubmission") click
    .container-fluid.text-center(style="padding:0px")
        .table-responsive
            table#tracking.table.table-bordered(style="margin:0px")
                thead
                    tr
                        th.tutor.text-center K'asdf
                        th.tutor.text-center K'ghjkl
                    tr
                        th.sat.text-center SAT
                        th.sun.text-center SUN
                    tr
                        th.time.text-center 8-10
                        th.time.text-center 10-12
                    tr
                        th.time.text-center MP1ez
                        th.time.text-center PHP4n
                tbody
                    tr
                        //No Sub
                        td.bg-info -
                        //pending
                        td.bg-warning
                            a(href="LINK") #1
                            code Pending
                            +form("post/judgeCourseMaterial")
                                input(name="courseID" type="hidden" value="PHP4n")
                                input(name="numberOfSub" type="hidden" value="1")
                                .btn-group
                                    input.btn.btn-success.btn-xs(name="action" onclick="window.location=&quot;mailto:?subject=TO%20(name),PHS6x01%20ACCEPTED&quot;" type="submit" value="accept")
                                    input.btn.btn-danger.btn-xs(name="action" onclick="window.location=&quot;mailto:?subject=TO%20(name),PHS6x01%20REJECTED&quot;" type="submit" value="reject")
                                    input.btn.btn-warning.btn-xs(name="action" type="submit" value="remove")
                    tr
                        //accepted
                        td.bg-success
                            a(href="LINK") #2
                            code Accept
                            +form("post/judgeCourseMaterial")
                                input(name="courseID" type="hidden" value="MP1ez")
                                input(name="numberOfSub" type="hidden" value="2")
                                .btn-group
                                    input.btn.btn-success.btn-xs(name="action" onclick="window.location=&quot;mailto:?subject=TO%20(name),PHS6x01%20ACCEPTED&quot;" type="submit" value="accept")
                                    input.btn.btn-danger.btn-xs(name="action" onclick="window.location=&quot;mailto:?subject=TO%20(name),PHS6x01%20REJECTED&quot;" type="submit" value="reject")
                                    input.btn.btn-warning.btn-xs(name="action" type="submit" value="remove")
                        //rejected
                        td.bg-danger
                            a(href="LINK") #2
                            code Rejected
                            +form("post/judgeCourseMaterial")
                                input(name="courseID" type="hidden" value="PHP4n")
                                input(name="numberOfSub" type="hidden" value="2")
                                .btn-group
                                    input.btn.btn-success.btn-xs(name="action" onclick="window.location=&quot;mailto:?subject=TO%20(name),PHS6x01%20ACCEPTED&quot;" type="submit" value="accept")
                                    input.btn.btn-danger.btn-xs(name="action" onclick="window.location=&quot;mailto:?subject=TO%20(name),PHS6x01%20REJECTED&quot;" type="submit" value="reject")
                                    input.btn.btn-warning.btn-xs(name="action" type="submit" value="remove")
    #message.container
