extends htmlTemplate
block head
    -const pageTitle = "Admin Home"
    script(src="js/admin.min.js")
    script(src="galleria/galleria-1.5.7.min.js")
    script(type="text/javascript" src="js/home.min.js")
block body
    .container-fluid
        #slideShow.container-fluid(align="center")
            .galleria
        script.
            slideShow('slide','classic',true);
        .container-fluid
            br
            .col-md-6
                button.btn.btn-primary(onClick="uploadSlide()") UPLOAD SLIDE
            .col-md-6(align="right")
                .btn-group
                    button.btn.btn-info(type="button") PORTRAIT
                    button.btn.btn-info(type="button") LANDSCAPE
                    button.btn.btn-info(type="button") NEWS
                    button.btn.btn-info(type="button") FULL-SCREEN
        //- Modal for uploadPic
        #uploadModal.modal.fade(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4 Upload Slide
                    .modal-body.form-group
                        p p=portrait, l=landscape, n=news, f=fullscreen
                    .modal-footer
                        button.btn.btn-primary(type="button") ตกลง
                        button.btn.btn-default(type="button" data-dismiss="modal") ยกเลิก