-
    var removeWhitespace=function(x){
        return x.replace(/\s/g,"");
    }
mixin container-liquid
    .container-fluid(style="padding:0px")&attributes(attributes)
        block
mixin panel-group
    .container
        .panel-group
            block
mixin panel(title)
    - var collapseID=removeWhitespace(title)+"Collapse"
    .panel.panel-default
        .panel-heading(data-toggle="collapse" data-target="#"+collapseID)
            .panel-title= title
        div(id=collapseID).panel-collapse.collapse.in
            .panel-body
                block
