extends htmlTemplate
block head
    - var pageTitle="Test Dev"
    script(src="js/sha3.js")
    script(src="js/testDev.js")
        
block body
    include generalTemplate
    include inputTemplate
    mixin form-horizontal-title(name)
        +form-horizontal(name)
            +form-title(name)
            block
    mixin submit(name)
        .form-group
            .col-sm-offset-2.col-sm-10
                +button-submit= name
    mixin select-course(name)
        +select(name)&attributes(attributes)
            - for(var i in course)
                +option(course[i].courseID,course[i].courseName+" : "+course[i].tutorNicknameEn+" ("+moment(course[i].day).format("dddHH")+")")
    .container
        .panel-group
            +panel("List User")#listUser
            +panel("List Course")#listCourse
            +panel("List Full Hybrid")#listFullHybrid
            +panel("List Course Suggestion")#listCourseSuggestion
    #message.container
    .container
        .panel-group
            +panel-list-group("User Information")
                +list-group-item
                    +form-horizontal-title("post/password")
                        +form-group("userID"): +input-number("userID")(required)
                        +form-group("password"): +input-password("password")(required)
                        +submit("post/password")
                +list-group-item
                    +form-horizontal-title("post/name")
                        +form-group("userID"): +input-number("userID")(required)
                        +submit("post/name")
                +list-group-item
                    +form-horizontal-title("post/position")
                        +form-group("userID"): +input-number("userID")(required)
                        +submit("post/position")
                +list-group-item
                    +form-horizontal-title("post/status")
                        +form-group("userID"): +input-number("userID")(required)
                        +submit("post/status")
                +list-group-item
                    +form-horizontal-title("post/changeStatus")
                        +form-group("userID"): +input-number("userID")(required)
                        +form-group("status"): +select-status()(required)
                        +submit("post/changeStatus")
            +panel-list-group("Student Information")
                +list-group-item
                    +form-horizontal-title("post/allStudent")
                        +submit("post/allStudent")
                +list-group-item
                    +form-horizontal-title("post/studentProfile")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +submit("post/studentProfile")
                +list-group-item
                    +form-horizontal-title("post/registrationState")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +submit("post/registrationState")
                +list-group-item
                    +form-horizontal-title("post/changeRegistrationState")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("registrationState"): +select-registration-state()(required)
                        +submit("post/changeRegistrationState")
            +panel-list-group("Student Timetable")
                +list-group-item
                    .loader.center-block
                    +form-horizontal-title("post/addStudentCourse")
                        +form-group("studentID"): +input-number("studentID")(required)
                        //-TODO array
                        +form-group("courseID"): +select-course("courseID").input-array(required)
                        +submit("post/addStudentCourse")
                    +form-horizontal-title("post/removeStudentCourse")
                        +form-group("studentID"): +input-number("studentID")(required)
                        //-TODO array
                        +form-group("courseID"): +select-course("courseID").input-array(required)
                        +submit("post/removeStudentCourse")
            +panel-list-group("User Management")
                +list-group-item
                    .loader.center-block
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
            +panel-list-group("Course")
                +list-group-item
                    .loader.center-block
                    //- +form-horizontal-title("post/allCourse")
                        +submit("post/allCourse")
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
            +panel-list-group("Room Management")
                +list-group-item
                    .loader.center-block
                    //- +form-horizontal-title("post/roomInfo")
                        +submit("post/roomInfo")
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
            +panel-list-group("File Uploading")
                +list-group-item
                    .loader.center-block
                    //- +form-horizontal-title("post/submitReceipt")
                        +submit("post/submitReceipt")
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
            +panel-list-group("Configuration")
                +list-group-item
                    .loader.center-block
                    //- +form-horizontal-title("post/getConfig")
                        +submit("post/getConfig")
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
