extends htmlTemplate
block head
    - var pageTitle="Test Dev"
    script(src="js/sha3.js")
    script(src="js/testDev.js")
    script.
        $(document).ready(function(){
            refresh();
            $.post("post/getConfig",function(data){
                for(var prop in data){
                    if(data.hasOwnProperty(prop)){
                        if(Array.isArray(data[prop])){
                            $("[action=\"post/editConfig\"] [name=\""+prop+"\"]").each(function(i){
                                $(this).val(data[prop][i]);
                            });
                        }
                        else $("[action=\"post/editConfig\"] [name=\""+prop+"\"]").val(data[prop]);
                    }
                }
            });
            // $("[action=\"editStudent\"] [type=\"reset\"]").click(function(){
            //     event.preventDefault();
            //     $.post($(this).attr("action"),$(this).find("[name]"),function(data,status){
            //         $("#message").empty();
            //         if(data.err){
            //             $("#message").append("<div id=\"danger\"></div>");
            //             $("#danger").addClass("alert alert-danger").append("Error : "+data.err);
            //         }
            //         else{
            //             $("#message").append("<div id=\"success\"></div>");
            //             $("#success").addClass("alert alert-success");
            //             if($.isEmptyObject(data))$("#success").append("Successful");
            //             else $("#success").html(JSON.stringify(data));
            //         }
            //         refresh();
            //     });
            // })
            $("[type=submit]").click(function(event){
                var form=$(this).closest("form");
                if(form.attr("enctype")=="multipart/form-data"){
                    return true;
                }
                event.preventDefault();
                // var input=$(this).find("[name]");
                var input={};
                // $(this).find("[name]").each(function(){
                //     if($(this).attr("type")=="checkbox"||$(this).attr("type")=="day"||$(this).attr("type")=="hour"||$(this).hasClass("array"))return;
                //     if($(this).attr("type")=="password")input[$(this).attr("name")]=CryptoJS.SHA3($(this).val()).toString();
                //     else if($(this).attr("type")=="number")input[$(this).attr("name")]=parseInt($(this).val());
                //     else input[$(this).attr("name")]=$(this).val();
                // });
                // $(this).find("[type=checkbox]:checked").each(function(){
                //     if(input[$(this).attr("name")]==undefined)input[$(this).attr("name")]=[];
                //     input[$(this).attr("name")].push($(this).val());
                // });
                // $(this).find("[type=day]").each(function(){
                //     if(input[$(this).attr("name")]==undefined)input[$(this).attr("name")]=moment(0).valueOf();
                //     input[$(this).attr("name")]=moment(input[$(this).attr("name")]).day(parseInt($(this).val())).valueOf();
                // });
                // $(this).find("[type=hour]").each(function(){
                //     if(input[$(this).attr("name")]==undefined)input[$(this).attr("name")]=moment(0).valueOf();
                //     input[$(this).attr("name")]=moment(input[$(this).attr("name")]).hour(parseInt($(this).val())).valueOf();
                // });
                // $(this).find(".array").each(function(){
                //     if(input[$(this).attr("name")]==undefined)input[$(this).attr("name")]=[];
                //     if($(this).attr("type")=="number")input[$(this).attr("name")].push(parseInt($(this).val()));
                //     else input[$(this).attr("name")].push($(this).val());
                // });
                var getValue=function(x){
                    if($(x).attr("type")=="checkbox"){
                        if($(x).prop("checked")){
                            if($(x).hasClass("input-int"))return parseInt($(x).val());
                            return $(x).val();
                        }
                    }
                    if($(x).attr("type")=="password")return CryptoJS.SHA3($(x).val()).toString();
                    else if($(x).hasClass("input-day")){
                        if(input[$(x).attr("name")]==undefined)input[$(x).attr("name")]=moment(0).valueOf();
                        return moment(input[$(x).attr("name")]).day(parseInt($(x).val())).valueOf();
                    }
                    else if($(x).hasClass("input-hour")){
                        if(input[$(x).attr("name")]==undefined)input[$(x).attr("name")]=moment(0).valueOf();
                        return moment(input[$(x).attr("name")]).hour(parseInt($(x).val())).valueOf();
                    }
                    else if($(x).hasClass("input-minute")){
                        if(input[$(x).attr("name")]==undefined)input[$(x).attr("name")]=moment(0).valueOf();
                        return moment(input[$(x).attr("name")]).hour(parseInt($(x).val())).valueOf();
                    }
                    else if($(x).attr("type")=="number"||$(x).hasClass("input-int"))return parseInt($(x).val());
                    return $(x).val();
                };
                form.find("[name]").filter(function(){return $(this).val()!=""&&$(this).val()!=null;}).each(function(){
                    if($(this).attr("type")=="checkbox"&&!$(this).prop("checked"))return;
                    if($(this).hasClass("input-array")){
                        if(input[$(this).attr("name")]==undefined)input[$(this).attr("name")]=[];
                        input[$(this).attr("name")].push(getValue(this));
                    }
                    else input[$(this).attr("name")]=getValue(this);
                });
                if($(this).attr("name")){
                    input[$(this).attr("name")]=$(this).val();
                }
                console.log("===>",form.attr("action"));
                console.log(input);
                $.post(form.attr("action"),input,function(data,status){
                    console.log(data);
                    $("#message").empty();
                    if(data.err){
                        $("#message").append("<div id=\"danger\"></div>");
                        $("#danger").addClass("alert alert-danger").append("Error : "+data.err);
                    }
                    else{
                        $("#message").append("<div id=\"success\"></div>");
                        $("#success").addClass("alert alert-success");
                        if($.isEmptyObject(data))$("#success").append("Successful");
                        else $("#success").html(JSON.stringify(data,null,2));
                    }
                    refresh();
                });
            });
            $(".addTut").click(function(event){
                event.preventDefault();
                // $(this).before('<div class="col-sm-11"><select class="form-control input-array" name="tutor" type="number" required><option disabled="" selected="">Select Tutor</option><option value="99001">Tutor#99001</option><option value="99002">Tutor#99002</option></select></div>');
                $(this).before('<div class="col-sm-11"><input class="form-control input-array" type="number" name="tutor" placeholder="tutor" required></div>');
                $(this).before('<button class="btn btn-default col-sm-1 removeField">-</button>');
            });
            $(".addCr").click(function(event){
                event.preventDefault();
                $(this).before('<div class="col-sm-11"><input class="form-control input-array col-sm-11" name="courseID" type="text" placeHolder="courseID" required></div>');
                $(this).before('<button class="btn btn-default col-sm-1 removeField">-</button>');
            });
            $("form").on("click",".removeField",function(event){
                event.preventDefault();
                $(this).prev().remove();
                $(this).remove();
            });
        });
        var refresh=function(){
            $("#listUser").empty();
            $.post("debug/listUser",function(data,status){
                for(var i=0;i<data.length;i++){
                    $("#listUser").append(JSON.stringify(data[i],null,2)+"<br><br>");
                }
            });
            $("#listCourse").empty();
            $.post("debug/listCourse",function(data,status){
                for(var i=0;i<data.length;i++){
                    $("#listCourse").append(JSON.stringify(data[i],null,2)+"<br>");
                    $("#listCourse").append(new Date(data[i].day).toString()+"<br><br>");
                }
            });
            $("#listFullHybrid").empty();
            $.post("debug/listFullHybrid",function(data,status){
                for(var i=0;i<data.length;i++){
                    $("#listFullHybrid").append(JSON.stringify(data[i],null,2)+"<br>");
                    $("#listFullHybrid").append(new Date(data[i].day).toString()+"<br><br>");
                }
            });
            $("#listCourseSuggestion").empty();
            $.post("debug/listCourseSuggestion",function(data,status){
                for(var i=0;i<data.length;i++){
                    $("#listCourseSuggestion").append(JSON.stringify(data[i],null,2)+"<br>");
                }
            });
        };
block body
    include generalTemplate
    include inputTemplate
    mixin form-horizontal-title(name)
        +form-horizontal(name)
            +form-title(name)
            block
    mixin submit(name)
        .form-group
            .col-sm-offset-2.col-sm-10
                +button-submit= name
    .container
        .panel-group
            +panel("List User")#listUser
            +panel("List Course")#listCourse
            +panel("List Full Hybrid")#listFullHybrid
            +panel("List Course Suggestion")#listCourseSuggestion
    #message.container
    .container
        .panel-group
            +panel-list-group("User Information")
                +list-group-item
                    +form-horizontal-title("post/password")
                        +form-group("userID"): +input-number("userID")(required)
                        +form-group("password"): +input-password("password")(required)
                        +submit("post/password")
                +list-group-item
                    +form-horizontal-title("post/name")
                        +form-group("userID"): +input-number("userID")(required)
                        +submit("post/name")
                +list-group-item
                    +form-horizontal-title("post/position")
                        +form-group("userID"): +input-number("userID")(required)
                        +submit("post/position")
                +list-group-item
                    +form-horizontal-title("post/status")
                        +form-group("userID"): +input-number("userID")(required)
                        +submit("post/status")
                +list-group-item
                    +form-horizontal-title("post/changeStatus")
                        +form-group("userID"): +input-number("userID")(required)
                        +form-group("status"): +select-status()(required)
                        +submit("post/changeStatus")
            +panel-list-group("Student Information")
                +list-group-item
                    +form-horizontal-title("post/allStudent")
                        +submit("post/allStudent")
                +list-group-item
                    +form-horizontal-title("post/studentProfile")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +submit("post/studentProfile")
                +list-group-item
                    +form-horizontal-title("post/registrationState")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +submit("post/registrationState")
                +list-group-item
                    +form-horizontal-title("post/changeRegistrationState")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("registrationState"): +select-registration-state()(required)
                        +submit("post/changeRegistrationState")
            +panel-list-group("Student Timetable")
                +list-group-item
                    .loader
                    //- +form-horizontal-title("post/addStudentCourse")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("courseID"): +input-number("courseID")(required)
                        +submit("post/addStudentCourse")
                    //- +form-horizontal-title("post/addStudentCourse")
                        +submit("post/addStudentCourse")
            +panel-list-group("User Management")
                +list-group-item
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
            +panel-list-group("Course")
                +list-group-item
                    //- +form-horizontal-title("post/allCourse")
                        +submit("post/allCourse")
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
            +panel-list-group("Room Management")
                +list-group-item
                    //- +form-horizontal-title("post/roomInfo")
                        +submit("post/roomInfo")
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
            +panel-list-group("File Uploading")
                +list-group-item
                    //- +form-horizontal-title("post/submitReceipt")
                        +submit("post/submitReceipt")
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
            +panel-list-group("Configuration")
                +list-group-item
                    //- +form-horizontal-title("post/getConfig")
                        +submit("post/getConfig")
                    //- +form-horizontal-title("post/addStudent")
                        +submit("post/addStudent")
