extends htmlTemplate
block head
    -const pageTitle = "Comment Students"
    script(src="js/bootstrap3-typeahead.min.js")
    script(src="js/tutorCommentStudent.js")
block body
    .jumbotron
        .container
            h1 Rate Student
            p This page use for comment student
    .container
        #search-box
            input.typeahead(type="text" placeholder="Name of Student")
    .container
        br
        form
            .form-group
                label(for="comment") Comment:
                textarea.form-control#comment(rows="5")
        button.btn.btn-default.col-md-offset-11.col-xs-offset-9(onClick="postComment()") SUBMIT