extends htmlTemplate
block head
    -const pageTitle = "Comment Students"
    script(src="js/bootstrap3-typeahead.min.js")
    script(src="js/tutorCommentStudent.js")
block body
    .container
        .page-header
            h2 Comment Students
            p Add a comment for each student
        #search-box
            input.typeahead(type="text" placeholder="Name of Student")
        br
        form
            .form-group
                label(for="comment") Comment:
                textarea.form-control#comment(rows="5" disabled)
        button.btn.btn-default.col-md-1.col-md-offset-11.col-xs-3.col-xs-offset-9(onClick="postComment()") SUBMIT
    .container
        hr
        h4 Recently comment
        #commentList