extends htmlTemplate
block head
    - var pageTitle="Tutor Course Material"
    script(src="js/tutorCourseMaterial.js")
block body
    include generalTemplate
    include inputTemplate
    //- = JSON.stringify(course,null,2)
    //- = JSON.stringify(webUser)
    .jumbotron
        .container
            h1 Upload files
            p Provide your information below.
    +panel-group
        +panel("Upload files")
            form.form-horizontal(action="post/submitCourseMaterial" method="post" enctype="multipart/form-data")
                +form-group("Course ID : ")
                    +select("courseID","Select course")
                        - for(var i in course)
                            if(course[i].tutor.includes(webUser.userID))
                                +option(course[i].courseID,course[i].courseName)
                +form-group("# Of Submission : ")
                    +select-number-of-sub
                +form-group("Files : ")
                    label.btn.btn-default.btn-file Browse file
                        input(type="file" style="display:none" name="file" multiple required)
                    +button-submit Submit
    #message.container
