extends htmlTemplate
block head
    -const pageTitle = "Rate Students"
    script(src="js/typeahead.bundle.min.js")
    script(src="js/tutorRateStudent.js")
    style.
        .jumbotron{
            padding-left: 10vw;
        }
        .tt-input{
            width: 20vw;
            font-size: 20px;
            border-radius: 10px;
        }
        .tt-suggestion{
            font-size: 16px;
        }
        .tt-highlight{
            font-size: 16px;
        }
        .tt-menu{
            width: 20vw;
            border: 3px solid #a9c8f9;
            border-radius: 10px;
            margin-top:6px;
        }
block body
    .jumbotron
        h1 Rate Student
        p This page use for comment and rate student
    .container
        #search-box
            input.typeahead(type="text" placeholder="Name of Student")