extends htmlTemplate
block head
    - var pageTitle="Tutor Course Material"
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js")
    //- script(src="js/adminCourseMaterial.js")
block body
    include generalTemplate.pug
    .jumbotron
        .container
            h1 Upload files
            p Provide your information below.
    +panel-group
        +panel("Upload files")
            form.form-horizontal(action="post/submitCourseMaterial" method="post" enctype="multipart/form-data")
                +form-group("Course ID : ")
                    input.form-control(type="text" name="courseID" placeholder="Course ID" required)
                +form-group("# Of Submission : ")
                    input.form-control(type="number" name="numberOfSub" placeholder="Number Of Submission" required)
                +form-group("Files : ")
                    label.btn.btn-default.btn-file Browse file
                        input(type="file" style="display:none" name="file" multiple required)
                    input.btn.btn-default(type="submit" value="submit")
    #message.container
