extends htmlTemplate
block head
    -const pageTitle = "Comment Students"
    script(src="js/bootstrap3-typeahead.min.js")
    script(src="js/tutorCommentStudent.min.js")
    style.
        #commentList p{
            margin-bottom:20px;
            white-space:pre-line;
        }
block body
    .container
        .page-header
            h2 Comment Students
            p Add a comment for each student
        #search-box
            input.typeahead(type="text" placeholder="Name of Student")
        br
        form
            .form-group
                label(for="comment") Comment:
                textarea.form-control#comment(rows="5")
        button#postButton.btn.btn-default.col-md-1.col-md-offset-11.col-xs-3.col-xs-offset-9 SUBMIT
    .container
        hr
        h2(style="margin-bottom:30px") Recently comment
        #commentList
        ul.pager
            li.previous: a(onClick="commPosition(0)") Previous
            li.next: a(onClick="commPosition(1)") Next