@charset "utf-8";
/* CSS Document */
.html {
	font-family: "Times New Roman", Times, serif;
}
.loginBtn {
	margin-top: 20px;
}
.galleria {
	max-width: 80vw;
	height: 60vw;
	background: #000
}
#usr, #pwd, #nname, #name, #sname, #level, #station, #skillday, #skilltime, #nnameE, #nameE, #snameE, #stationEng, #skilldayEng, #skilltimeEng, #skillSel, #grade, #parentNum, #studentNum, #email {
	border-radius: 8px
}
#allStudentTable tr:hover {
	background-color: #d0dbed
}
#allStudentTable tr:active {
	background-color: #a8aeb7
}
#allCourseTable tr:hover {
	background-color: #d0dbed
}
#allCourseTable tr:active {
	background-color: #a8aeb7
}
#allStudentInCourseTable tr:hover {
	background-color: #d0dbed
}
#allStudentInCourseTable tr:active {
	background-color: #a8aeb7
}
td {
	vertical-align: middle!important;
}