@charset "utf-8";
/* CSS Document */

.loginBtn{
	margin-top: 20px;
}
#usr,#pwd,#nname,#name,#sname,#level,#station,#skillday,#skilltime{
	border-radius: 8px
}
#allStudentTable tr,#allCourseTable tr:hover{
	background-color: #d0dbed
}
#allStudentTable tr,#allCourseTable tr:active{
	background-color: #a8aeb7
}