extends ../htmlTemplate
block head
    - const hideNavbar = true
    - const hideFooter = true
    - const pageTitle = "FHB Comment"
    style.
        .addComment-btn {
            border-radius:50%;
            height:130px;
            width:180px;
            font-size:3em;
        }
        .comment-btn {
            border-radius:50%;
            height:130px;
            width:180px;
            font-size:3em;
        }
        .nonselect-btn {
            background-color:white;
            color:#FFC107;
            border-color:#FFC107;
            border-width:medium;
        }
        .select-btn {
            background-color:#FFC107;
            color:white;
            border-color:#FFC107;
            border-width:medium;
        }
        .disabled-btn {
            background-color:black;
            color:white;
            border-color:black;
            border-width:medium;
        }
        input[type=checkbox] {
            transform: scale(1.5);
        }
block script
    script(src="js/hybridComment.min.js")
block body
    .container-fluid.position-fixed
        .row
            button#goback-btn.col-3.btn.btn-outline-dark
                span.fas.fa-arrow-left
                |&nbsp;Back
            .col-4.p-0
                select#dateSelector.dateSelect.custom-select
            .col-4.p-0
                select#zoneSelector.custom-select
            button#addZoneBtn.btn.btn-info.col-1.p-0 + Zone
    .content-container
        .col-3.position-fixed.p-0(style='max-height:95%;overflow-y:auto;margin-top:38px')
            ul#studentList.list-group
                li#addStdBtn.list-group-item.text-center: span.fas.fa-2x.fa-plus-circle
        .col-9.offset-3.position-fixed(style="margin-top:38px")
            .flex-container.d-flex.flex-row.justify-content-around(style='height:78vh')
                .d-flex.flex-column.justify-content-around
                    .d-flex.flex-column
                        label ลายมือ
                        button.btn.comment-btn.nonselect-btn(type='button' name='ลายมือไม่ดี')
                            span.fab.fa-autoprefixer
                    .d-flex.flex-column
                        label วิธีเขียน
                        button.btn.comment-btn.nonselect-btn(type='button' name='วิธีเขียนไม่ดี')
                            span.fas.fa-file-signature
                    .d-flex.flex-column
                        label ข้ามขั้น
                        button.btn.comment-btn.nonselect-btn(type='button' name='ทำข้ามขั้น')
                            span.fas.fa-angle-double-right
                    .d-flex.flex-column
                        label การบ้าน
                        button.btn.comment-btn.nonselect-btn(type='button' name='ไม่ทำการบ้านมา/ทำการบ้านไม่เสร็จ')
                            span.fab.fa-leanpub
                .d-flex.flex-column.justify-content-around
                    .d-flex.flex-column
                        label ข้าม VDO
                        button.btn.comment-btn.nonselect-btn(type='button' name='ข้าม VDO')
                            span.fas.fa-fast-forward
                    .d-flex.flex-column
                        label ดู VDO นาน
                        button.btn.comment-btn.nonselect-btn(type='button' name='ดู VDO นาน')
                            span.fas.fa-stopwatch
                    .d-flex.flex-column
                        label ไม่ตั้งใจ
                        button.btn.comment-btn.nonselect-btn(type='button' name='ไม่ตั้งใจ')
                            span.fas.fa-low-vision
                    .d-flex.flex-column
                        label Flow ผิด
                        button.btn.comment-btn.nonselect-btn(type='button' name='ไม่ทำตาม Flow')
                            span.fas.fa-sort-numeric-down
                .d-flex.flex-column.justify-content-around
                    .d-flex.flex-column
                        label ลืมของเก่า
                        button.btn.comment-btn.nonselect-btn(type='button' name='ลืมของเก่า')
                            span.far.fa-dizzy
                    .d-flex.flex-column
                        label ไม่จับหลัก
                        button.btn.comment-btn.nonselect-btn(type='button' name='เรียนไม่จับหลัก')
                            span.far.fa-lightbulb
                    .d-flex.flex-column
                        label งานค้าง
                        button.btn.comment-btn.nonselect-btn(type='button' name='งานค้างเยอะ')
                            span.fas.fa-file-excel
                    .d-flex.flex-column
                        label ไม่พร้อมเรียน
                        button.btn.comment-btn.nonselect-btn(type='button' name='ไม่พร้อมเรียน/เหม่อ')
                            span.fas.fa-procedures
                .d-flex.flex-column.justify-content-around
                    .d-flex.flex-column
                        label นิสัย
                        button.btn.comment-btn.nonselect-btn(type='button' name='นิสัยไม่ดี')
                            span.far.fa-thumbs-down
                    .d-flex.flex-column
                        label สุขอนามัย
                        button.btn.comment-btn.nonselect-btn(type='button' name='สุขอนามันไม่ดี')
                            span.fas.fa-capsules
                    .d-flex.flex-column
                        label ไม่ฟังที่พูด
                        button.btn.comment-btn.nonselect-btn(type='button' name='ไม่ฟังที่พี่พูด')
                            span.fas.fa-deaf
                    .d-flex.flex-column
                        label เพิ่มเติม
                        button.btn.addComment-btn.nonselect-btn(type='button')
                            span.fas.fa-plus
            .row.p-3
                .col-12.p-0
                    button#checkoutBtn.btn.btn-danger.float-right Check out
                    button#addCommentBtn.btn.btn-success.float-right + Add comment
    #addZoneModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title Add new zone
                    button.close(type='button' data-dismiss="modal"): span &times;
                .modal-body
                    .form-group
                        label Date
                        select#addZoneDate.dateSelect.custom-select
                    .form-group
                        label Zone Name
                        input#addZoneName.form-control(type='text')
                .modal-footer
                    button#addZoneSubmitBtn.btn.btn-success(type='button') + Add
                    button.btn.btn-danger(type='button' data-dismiss="modal") Close
    #addStdModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title Add student
                    button.close(type='button' data-dismiss="modal"): span &times;
                .modal-body#addStdModalBody
                .modal-footer
                    button#addStdSubmitBtn.btn.btn-success(type='button') + Add
                    button.btn.btn-danger(type='button' data-dismiss="modal") Close
    #addCommentModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-body
                    h4 Comment complete.