<div class='progress-container' *ngIf="!hasData">
  <mat-spinner></mat-spinner>
  <h1 class="mat-h1">Loading student data</h1>
</div>
<div *ngIf="hasData">
  <mat-form-field>
    <mat-select placeholder="Favorite food" (selectionChange)="t($event)">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="Index">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let std"> {{std.ID}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Grade">
      <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
      <mat-cell *matCellDef="let std"> {{std.gradeString}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nickname">
      <mat-header-cell *matHeaderCellDef> Nickname </mat-header-cell>
      <mat-cell *matCellDef="let std"> {{std.Nickname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Firstname">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let std"> {{std.Firstname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="StudentLevel">
      <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
      <mat-cell *matCellDef="let std"> {{std.StudentLevel}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Chat">
      <mat-header-cell *matHeaderCellDef> Chat </mat-header-cell>
      <mat-cell *matCellDef="let std">{{std.ChatMessage}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Remark">
      <mat-header-cell *matHeaderCellDef> Remark </mat-header-cell>
      <mat-cell *matCellDef="let std">
        <mat-icon [ngStyle]="{'color':std.color}">{{std.Remark}}</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnHead"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnHead;"></mat-row>
  </mat-table>
</div>