<section class="mat-typography">
  <div [class]="(isMobile)?'flex-mobile-container':'flex-container'">
    <mat-card>
      <img mat-card-image src="../../assets/images/banner.png">
      <mat-card-subtitle>Please login to continue</mat-card-subtitle>
      <mat-card-content class="card-container">
        <mat-form-field>
          <input [(ngModel)]="userID" matInput placeholder="User ID" type="number" required>
          <fa-icon matSuffix [icon]="faUser"></fa-icon>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="userPwd" matInput placeholder="Password" type="password" required>
          <fa-icon matSuffix [icon]="faUnlockAlt"></fa-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" class="footer-login-btn" (click)="checkAuth();">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>