.table-bubble{
    margin:0px;
    border-spacing:5px;
    border-collapse:separate;
}
.table-bubble > tbody > tr > td,
.table-bubble > thead > tr > th{
    border:none;
    border-radius:6px;
    text-align:center;
    vertical-align:middle;
}
.course-link{
    cursor:pointer;
}
.course-link>h4{
    margin:5px 0;
}
.popup{
    font-size:36px;
    cursor:pointer;
}

#judgeModal .modal-header,
#judgeModal .modal-footer,
#submitModal .modal-header,
#submitModal .modal-footer{
    border:none;
}
.big-symbol{
    font-size:100px;
}
.margin-top{
    margin-top:20px;
}

.grey,.c-grey {
    background-color: #f5f5f5; /*Grey 100*/
}
.c-grey:hover {
    background-color: #eeeeee; /*Grey 200*/
}
.c-grey:active {
    background-color: #e0e0e0; /*Grey 300*/
}
.lightgreen,.c-lightgreen {
    background-color: #dcedc8; /*LightGreen 100*/
}
.c-lightgreen:hover {
    background-color: #c5e1a5; /*LightGreen 200*/
}
.c-lightgreen:active {
    background-color: #aed581; /*LightGreen 300*/
}
.blue,.c-blue {
    background-color: #bbdefb; /*Blue 100*/
}
.c-blue:hover {
    background-color: #90caf9; /*Blue 200*/
}
.c-blue:active {
    background-color: #64b5f6; /*Blue 300*/
}
.yellow,.c-yellow {
    background-color: #fff9c4; /*Yellow 100*/
}
.c-yellow:hover {
    background-color: #fff59d; /*Yellow 200*/
}
.c-yellow:active {
    background-color: #fff176; /*Yellow 300*/
}
.red,.c-red {
    background-color: #ffcdd2; /*Red 100*/
}
.c-red:hover {
    background-color: #ef9a9a; /*Red 200*/
}
.c-red:active {
    background-color: #e57373; /*Red 300*/
}
.purple,.c-purple {
    background-color: #d1c4e9; /*DeepPurple 100*/
}
.c-purple:hover {
    background-color: #b39ddb; /*DeepPurple 200*/
}
.c-purple:active {
    background-color: #9575cd; /*DeepPurple 300*/
}
.teal,.c-teal {
    background-color: #b2dfdb; /*Teal 100*/
}
.c-teal:hover {
    background-color: #80cbc4; /*Teal 200*/
}
.c-teal:active {
    background-color: #4db6ac; /*Teal 300*/
}
.pink,.c-pink {
    background-color: #f8bbd0; /*Pink 100*/
}
.c-pink:hover {
    background-color: #f48fb1; /*Pink 200*/
}
.c-pink:active {
    background-color: #f06292; /*Pink 300*/
}
.orange,.c-orange {
    background-color: #ffe0b2; /*Orange 100*/
}
.c-orange:hover {
    background-color: #ffcc80; /*Orange 200*/
}
.c-orange:active {
    background-color: #ffb74d; /*Orange 300*/
}
.brown {
    color:white;
    background-color: #795548; /*Brown 500*/
}
