.row
    .col-6
        h3= 'Mean: '+summary.meanValue.toFixed(2)
    .col-6
        h3= 'S: '+summary.stdValue.toFixed(2)
.row
    .col-6
        h3= 'Max: '+summary.maxValue
    .col-6
        h3= 'Min: '+summary.minValue