.col-9.bg-warning(style='position: fixed;height: 100px;z-index: 1;box-shadow: 0px 0 4px;')
    .row
        .col-10
            h1= testDetail.testName
        .col-2
            h4#test-del-btn.float-right.mt-3(onclick='deleteTest(\''+testDetail._id+'\')'): span.fas.fa-trash-alt
    -var date = new Date(testDetail.testDate)
    h3='Test Date: '+date.getDate()+'/'+(date.getMonth()+1)+'/'+date.getFullYear()
div(style='width:100%;position:relative;top:140px;margin-bottom:32px;display:flex;flex-flow:column nowrap;align-items:center;justify-content: flex-start;')
    each i in testScore
        .studentList
            h5= i.studentName
            div(style='display:flex;flex-flow:row nowrap;align-items:center;')
                h5= i.score+'/'+testDetail.maxScore
                span.stdEditBtn.ml-3.fas.fa-edit(onclick="editStudent(\'"+i.studentID+"\')")
                span.stdRemoveBtn.ml-3.far.fa-trash-alt(onclick="removeStudent(\'"+testDetail._id+"\',\'"+i.studentID+"\')")
    .studentList(style="justify-content:center;" onclick='addStudentScore(\''+testDetail._id+'\');')
            h5 + Add score