<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Admin Page</span>
  <span style="flex: auto;"></span>
  <span>Nick Firstname</span>
  <img src="../../../assets/images/NoAvatar.jpg" alt="Avatar" class="avatar-img" [matMenuTriggerFor]="logoutMenu">
  <mat-menu #logoutMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>location_on</mat-icon>
      <span>Check in</span>
    </button>
    <button mat-menu-item>
      <mat-icon>location_off</mat-icon>
      <span>Check out</span>
    </button>
    <button mat-menu-item>
      <mat-icon>lock_open</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #drawer fixedInViewport="true" role='navigation' [mode]="(isHandset)?'over':'side'" [ngStyle]="{'margin-top': (isHandset)?'56px':'64px'}">
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/student" routerLinkActive="active" (click)="drawer.close()">Student</a>
      <a mat-list-item routerLink="/admin/class" routerLinkActive="active" (click)="drawer.close()">Class</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{'margin-top': (isHandset)?'56px':'64px'}">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>