extends htmlTemplate
block head
    -const pageTitle = "Absent Form"
    style.
        .col-12{
            padding-left:0;
        }
block script
    script(src="js/studentAbsentAgreeForm.js")
block body
    .card
        .card-header
            h3 ข้อกำหนดและเงื่อนไขการลา
            h5.text-danger (โปรดอ่านอย่างละเอียด)
        .card-body 
            h5 กรณีลาคอร์ส
            label.col-12 1.ลาปกติ
            label.col-12.ml-4 • ต้องลาภายในวันศุกร์ก่อน 18.00 น. มิฉะนั้นจะไม่มีการชดเชยใดๆ ทุกกรณี
            label.col-12.ml-2 1.1.ลากิจ
            label.col-12.ml-4 • จะได้รับการชดเชยทั้งหมด 2 ครั้ง (รอกำหนดวันเวลาชดเชยจากครูแมว)
            label.col-12.ml-2 1.2.ลาสอบ (สอบเข้า เช่น CU-TEP, CU-ATS และ SAT เป็นต้น, สอบแข่งขัน, สอบ Pre-test)
            label.col-12.ml-4 • พร้อมแนบเอกสารยืนยันการสอบ
            label.col-12.ml-4 • นักเรียนจะได้รับการชดเชย (ไม่รวมในโควตาชดเชยปกติ 2 ครั้ง)
            label.col-12.ml-2 1.3.ลาเข้าค่าย
            label.col-12.ml-4 • พร้อมแนบเอกสารยืนยันการเข้าค่าย
            label.col-12.ml-4 • นักเรียนจะได้รับการชดเชย (ไม่รวมในโควตาชดเชยปกติ 2 ครั้ง)
            label.col-12 2.ลาฉุกเฉิน (ลาหลังเวลาที่กำหนด)
            label.col-12.ml-4 • ต้องลาก่อนที่จะถึงวันและเวลาที่เรียน
            label.col-12.ml-2 2.1.ลาป่วย
            label.col-12.ml-4 • พร้อมแนบใบรับรองแพทย์
            label.col-12.ml-4 • นักเรียนจะได้รับการชดเชย (ไม่รวมในโควตาชดเชยปกติ 2 ครั้ง)
            label.col-12.ml-2 2.2.ลาอื่นๆ
            label.col-12.ml-4 • นักเรียนจะไม่ได้รับการชดเชยใดๆ
            label.col-12 3.ไม่มา และ ไม่แจ้งลา
            label.col-12.ml-4 • หมดสิทธิ์ชดเชยในคอร์สทุกกรณี
            label.col-12.ml-4 • นักเรียนจะถูกพิจารณาสิทธิ์ในการลงทะเบียนเรียนในคอร์สถัดไป
            h5 กรณีลา Full Hybrid
            label.col-12 1.ลาปกติ
            label.col-12.ml-4 • Full Hybrid ที่เรียนในวันอังคาร ต้องลาภายในเวลา 18.00 น. ของวันจันทร์
            label.col-12.ml-4 • Full Hybrid ที่เรียนในวันพฤหัสบดี ต้องลาภายในเวลา 18.00 น. ของวันพุธ
            label.col-12.ml-4 • Full Hybrid ที่เรียนในวันเสาร์และอาทิตย์ ต้องลาภายในเวลา 18.00 น. ของวันศุกร์
            label.col-12.ml-4 • ถ้านักเรียนแจ้งลาภายในเวลาที่กำหนด ระบบจะไม่หักค่าเรียนของนักเรียน
            label.col-12 2.ลาฉุกเฉิน (ลาหลังเวลาที่กำหนด)
            label.col-12.ml-4 • ต้องลาก่อนที่จะถึงวันและเวลาที่เรียน
            label.col-12.ml-2 2.1.ลาป่วย
            label.col-12.ml-4 • พร้อมแนบใบรับรองแพทย์
            label.col-12.ml-4 • นักเรียนจะมีสิทธิ์ในการชดเชย Full Hybrid ภายในหนึ่งอาทิตย์ แต่ห้ามชดเชยในเวลาที่ซ้อนกับตารางเรียนปกติ
            label.col-12.ml-2 2.2.ลาอื่นๆ
            label.col-12.ml-4 • ระบบจะหักค่าเรียนเสมือนมาเรียนปกติ พร้อมกับลดโควตาการลา
            label.col-12 3.ไม่มา และ ไม่แจ้งลา
            label.col-12.ml-4 • ระบบจะตัดเงินเสมือนมาเรียนปกติ พร้อมกับลดโควตาการลา
            label.col-12.ml-4 • นักเรียนต้องพบครูแมวในการมาเรียนครั้งถัดไป
        .card-footer
            button#submitButt.btn.btn-success.float-right ยืนยัน