extends htmlTemplate
block head
    -const pageTitle = "Absent Form"
    link(rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css")
block script
    script(src="js/bootstrap-datetimepicker4.min.js")
    script(src="js/studentAbsentForm.min.js")
block body
    .jumbotron.jumbotron-fluid.bg-danger.text-white
        .container
            h2 แบบฟอร์มลา CR&FHB
            h4#pageBanner CRxxQx
    .container
        .form-group
            label.text-danger
                |จะต้องทำการลาก่อนเวลา 18.00น. ก่อนวันเรียน 1 วัน และภายใน 18.00น. วันศุกร์สำหรับเสาร์/อาทิตย์
                |มิเช่นนั้นจะถือเป็นการลาฉุกเฉิน ซึ่งตัดเงินเสมือนมาเรียนปกติสำหรับระบบ FHB และไม่ชดเชยให้สำหรับคอร์สที่เรียนใน HB
        .form-group
            label วันที่:
            input#absentDate.form-control(type="text")
        .form-group.mb-0
            label วิชา:
        .row
            .col-6.col-md-3.pb-3
                buttun.col.btn.btn-8.selector -
            .col-6.col-md-3
                buttun.col.btn.btn-10.selector -
            .col-6.col-md-3.pb-3
                buttun.col.btn.btn-13.selector -
            .col-6.col-md-3
                buttun.col.btn.btn-15.selector -
        .form-group
            label เหตุผล:
            input#reasonInput.form-control(type="text")
        .form-group
            label ผู้แจ้ง:
            input#senderInput.form-control(type="text")
        .row
            .col-12
                button#submitButt.float-right.btn.btn-success ยืนยัน
        .form-group.mb-0
            label ประวัติการลา/เพิ่ม
            label.text-danger (ย้อนหลัง 3 เดือน)
        .form-group
            label#mQuota.col-6.px-0 โควต้าลา FHB:M
            label#pQuota โควต้าลา FHB:P
        .row
            .col-12.col-md-6
                .table-responsive
                    table.table.table-bordered
                        thead
                            tr
                                td.text-center.table-danger(colspan="3") ลา
                        tbody#absentTableBody
            .col-12.col-md-6
                .table-responsive
                    table.table.table-bordered
                        thead
                            tr
                                td.text-center.table-success(colspan="3") เพิ่ม
                        tbody#presentTableBody

    // Modal for loading
    #loadingModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-body
                    h3 Send data, please wait ...