extends htmlTemplate
block head
    -const pageTitle = "Absent Form"
    link(rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css")
block script
    script(src="js/bootstrap-datetimepicker4.min.js")
    script(src="js/studentAbsentForm.min.js")
block body
    .jumbotron.jumbotron-fluid.bg-danger.text-white
        .container
            h2 แบบฟอร์มลา CR&FHB
            h4#pageBanner CRxxQx
    .container
        .row.mb-2
            .col-6.pr-0
                button#mQuota.btn.btn-outline-dark.col โควต้าลา FHB:M
            .col-6.pl-0
                button#pQuota.btn.btn-outline-dark.col โควต้าลา FHB:P
        //- .form-group
            label#mQuota.col-6.px-0 โควต้าลา FHB:M
            label#pQuota โควต้าลา FHB:P
        .form-group
            label วันที่:
            input#absentDate.form-control(type="text")
        .form-group.mb-0
            label วิชา:
        .table-responsive
            table.table
                tbody
                    tr
                        td.text-center.labelor.label-8(width="50%") 8-10
                        td.text-center
                            buttun.col.btn.btn-8.selector -
                    tr
                        td.text-center.labelor.label-10 10-12
                        td.text-center
                            buttun.col.btn.btn-10.selector -
                    tr
                        td.text-center.labelor.label-13 13-15
                        td.text-center
                            buttun.col.btn.btn-13.selector -
                    tr
                        td.text-center.labelor.label-15 15-17
                        td.text-center
                            buttun.col.btn.btn-15.selector -
        .form-group
            label ลา:
            select#reasonInput.custom-select.form-control
                option ป่วย
                option สอบ
                option เข้าค่าย
                option ลากิจ
            //- input#reasonInput.form-control(type="text")
        .form-group
            label เหตุผล:
            input#reasonOptionInput.form-control(type="text")
        .custom-file
            input#customFile.custom-file-input(type="file")
            label.custom-file-label(for="customFile") Choose file
        .form-group
            label ผู้แจ้ง:
            input#senderInput.form-control(type="text")
        .row
            .col-12
                button#submitButt.float-right.btn.btn-success ยืนยัน
        .form-group.mb-0
            label ประวัติการลา/เพิ่ม
            label#tableLabel.text-danger
        .row
            .col-12.col-md-6
                .table-responsive
                    table.table.table-bordered
                        thead
                            tr
                                td.text-center.table-danger(colspan="3") ลา
                        tbody#absentTableBody
            .col-12.col-md-6
                .table-responsive
                    table.table.table-bordered
                        thead
                            tr
                                td.text-center.table-success(colspan="3") เพิ่ม
                        tbody#presentTableBody
        .row
            .col
                a#upToTop.float-right(href="#") Up to top

    // Modal for loading
    #loadingModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-body
                    h3 Sending data, please wait ...