extends htmlTemplate
block head
    -const pageTitle = "Absent Form"
    link(rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css")
    script(src="js/bootstrap-datetimepicker.min.js")
    script(src="js/studentAbsentForm.js")
    style.
        .btn-default{
            margin-bottom:25px;
        }
block body
    .jumbotron
        .container
            h2 แบบฟอร์มลา
            p#pageHead
    .container
        .form-group
            label.control-label วันที่ต้องการลา:
            input.form-control#datePicker(type="text")
        .row
            .col-xs-12
                label วิชา:
        .row
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector#btn8 &nbsp;
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector#btn10 &nbsp;
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector#btn13 &nbsp;
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector#btn15 &nbsp;
        form
            .form-group
                label เหตุผล:
                input.form-control(type="text")
            .form-group
                label ผู้แจ้ง:
                input.form-control(type="text")
        .row
            .col-xs-3.col-xs-offset-9.col-sm-1.col-sm-offset-11
                button.btn.btn-primary.col-xs-12.col-sm-12 ยืนยัน