extends htmlTemplate
block head
    -const pageTitle = "Add Form"
    style.
        .col-12{
            padding-left:0;
        }
block script
    script(src="js/studentAddAgreeForm.js")
block body
    .card
        .card-header
            h3 ข้อกำหนดและเงื่อนไขการเพิ่ม
            h5.text-danger (โปรดอ่านอย่างละเอียด)
        .card-body
            h5 กฎการเพิ่ม Full Hybrid
            label.col-12 1.นักเรียนสามารถเพิ่มเรียนได้ทุกเมื่อก่อนเวลาที่ประสงค์
            label.col-12 2.ในกรณีที่เพิ่มเรียน ห้ามมีการลาในครั้งนั้น มิฉะนั้นระบบจะหักค่าเรียนเสมือนมาเรียน
        .card-footer
            button#submitButt.btn.btn-success.float-right ยืนยัน