extends htmlTemplate
block head
    -const pageTitle = "Add Form"
    link(rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css")
block script
    script(src="js/bootstrap-datetimepicker4.min.js")
    script(src="js/studentAddForm.min.js")
block body
    .jumbotron.jumbotron-fluid.bg-success.text-white
        .container
            h2 แบบฟอร์มเพิ่ม FHB
            h4#pageBanner CRxxQx
    .container
        .form-group
            label วันที่:
            input#addDate.form-control(type="text")
        .form-group.mb-0
            label เวลา:
        .row
            .col-6.col-md-3
                buttun.col.btn.btn-8.selector -
            .col-6.col-md-3
                buttun.col.btn.btn-10.selector -
            .col-6.col-md-3
                buttun.col.btn.btn-13.selector -
            .col-6.col-md-3
                buttun.col.btn.btn-15.selector -
        .form-group
            label วิชา:
            select#subjInput.form-control
                option(value="M") FHB:M
                option(value="P") FHB:P
        .form-group
            label ผู้แจ้ง:
            input#senderInput.form-control(type="text")
        .row
            .col-12
                button#submitButt.float-right.btn.btn-success ยืนยัน
        .form-group.mb-0
            label ประวัติการลา/เพิ่ม
            label.text-danger (ย้อนหลัง 3 เดือน)
        .row
            .col-12.col-md-6
                .table-responsive
                    table.table.table-bordered
                        thead
                            tr
                                td.text-center.table-danger(colspan="3") ลา
                        tbody#absentTableBody
            .col-12.col-md-6
                .table-responsive
                    table.table.table-bordered
                        thead
                            tr
                                td.text-center.table-success(colspan="3") เพิ่ม
                        tbody#presentTableBody

    // Modal for loading
    #loadingModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-body
                    h3 Send data, please wait ...