extends htmlTemplate
block head
    -const pageTitle = "Add Form"
    link(rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css")
block script
    script(src="js/bootstrap-datetimepicker4.min.js")
    script(src="js/studentAddForm.min.js")
block body
    .jumbotron.jumbotron-fluid.bg-success.text-white
        .container
            h2 แบบฟอร์มเพิ่ม FHB
            h4#pageBanner CRxxQx
    .container
        .form-group
            label วันที่:
            input#addDate.form-control(type="text")
        .form-group.mb-0
            label เวลา:
        .table-responsive
            table.table
                tbody
                    tr
                        td.text-center.labelor.label-8(width="50%") 8-10
                        td.text-center
                            buttun.col.btn.btn-8.selector -
                    tr
                        td.text-center.labelor.label-10 10-12
                        td.text-center
                            buttun.col.btn.btn-10.selector -
                    tr
                        td.text-center.labelor.label-13 13-15
                        td.text-center
                            buttun.col.btn.btn-13.selector -
                    tr
                        td.text-center.labelor.label-15 15-17
                        td.text-center
                            buttun.col.btn.btn-15.selector -
        .form-group
            label วิชา:
            select#subjInput.form-control
                option(value="M") FHB:M
                option(value="P") FHB:P
                option(value="C") FHB:C
                option(value="E") FHB:E
        .form-group
            label ผู้แจ้ง:
            input#senderInput.form-control(type="text")
        .row
            .col-12
                button#submitButt.float-right.btn.btn-success ยืนยัน
        .form-group.mb-0
            label ประวัติการลา/เพิ่ม
            label.text-danger (ย้อนหลัง 3 เดือน)
        .row
            .col-12.col-md-6
                .table-responsive
                    table.table.table-bordered
                        thead
                            tr
                                td.text-center.table-danger(colspan="3") ลา
                        tbody#absentTableBody
            .col-12.col-md-6
                .table-responsive
                    table.table.table-bordered
                        thead
                            tr
                                td.text-center.table-success(colspan="3") เพิ่ม
                        tbody#presentTableBody
        .row
            .col
                a#upToTop.float-right(href="#") Up to top
    // Modal for loading
    #loadingModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-body
                    h3 Sending data, please wait ...