extends oldHtmlTemplate
block head
    -const pageTitle = "Add Form"
    link(rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css")
    script(src="js/bootstrap-datetimepicker.min.js")
    script(src="js/studentAddForm.min.js")
    style.
        .btn-default, .btn-success{
            margin-bottom:25px;
        }
        .course{
            color: black!important;
            background-color: #FFC8EF!important;
        }
block body
    .jumbotron
        .container
            h2 แบบฟอร์มเพิ่ม FHB
    .container
        .form-group
            label.control-label วันที่ต้องการเพิ่ม:
            input.form-control#datePicker(type="text")
        form
            .form-group
                label วิชา:
                select.form-control#subjInput(type="text")
                    option FHB:Math
                    option FHB:Physic
        .row
            .col-xs-12
                label เวลา:
        .row
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector#btn8 &nbsp;
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector#btn10 &nbsp;
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector#btn13 &nbsp;
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector#btn15 &nbsp;
        form
            .form-group
                label ผู้แจ้ง:
                input.form-control#senderInput(type="text")
        label ประวัติการลา/เพิ่ม
        label(style="color:red") (ย้อนหลัง 3 เดือนจากวันที่เลือก)
        .row
            .col-xs-12.col-sm-6
                p#mathSum
            .col-xs-12.col-sm-6
                p#phySum
        label(style="color:red") (ตั้งแต่ปัจจุบัน)
        .row
            .col-xs-12.col-sm-6
                .table-responsive
                    table.table.table-striped.table-bordered
                        thead
                            tr
                                td.text-center.col-xs-6.danger ลา
                        tbody#absentTableBody
            .col-xs-12.col-sm-6
                .table-responsive
                    table.table.table-striped.table-bordered
                        thead
                            tr
                                td.text-center.col-xs-6.success เพิ่ม
                        tbody#presentTableBody
        .row
            .col-xs-3.col-xs-offset-9.col-sm-1.col-sm-offset-11
                button#submit.btn.btn-primary.col-xs-12.col-sm-12 ยืนยัน