extends htmlTemplate
block head
    -const pageTitle = "Course Description"
    script(src="js/adminCourseDescription.min.js")
    script.
        $(document).ready(getCourseDescription)
block body
    .container
        .col-sm-12
            h1#courseName &nbsp;
            h3#tutorName &nbsp;
            br
        div
            p.col-sm-2#day &nbsp;
            p.col-sm-2#time &nbsp;
            p#courseID(align="right") &nbsp;
        .table-responsive.col-sm-12
            table.table.table-hover
                thead
                    tr
                        th.col-sm-1 No.
                        th.col-sm-2 ID
                        th.col-sm-2 Nickname
                        th.col-sm-2 Name
                        th.col-sm-2 Surname
                tbody#allStudentInCourseTable