extends htmlTemplate
mixin tdButt(className)
    td: button.col-12.btn.btn-outline-secondary(class=className) &nbsp;
block head
    -const pageTitle = "Admin Student Profile"
    link(href="css/component.css", rel="stylesheet")
    style.
        .cr {
            background-color: #FFE4F5!important;
            border-color: transparent!important;
        }
        .hb {
            background-color: #FFF8BA!important;
            border-color: transparent!important;
        }
        .sk {
            background-color: #D4EEF8!important;
            border-color: transparent!important;
        }
block script
    script(src="js/JsBarcode.code128.min.js" type="text/javascript")
    script(src="js/adminStudentProfile.js")
    script(src="js/FileSaver.min.js" type="text/javascript")
    script(src="js/custom-file-input.js")
block body
    .container-fluid
        .row
            .col-12.col-md-9.col-xl-10
                .row
                    .col-12.col-md-3
                        form
                            .form-group
                                label
                                    span.fa.fa-lg.fa-th-large &nbsp;
                                    |Quarter
                                select.form-control#quarterSelect
                .row
                    .col-12.col-md-5
                        .row
                            .col-12
                                img.img-fluid.img-thumbnail#profileImg(src="images/noImage.svg")
                        .row
                            .col-12#studentProfileContent
                    .col-12.col-md-7
                        img.img-fluid.img-thumbnail#recieptImg(src="images/noImage.svg")
                .row
                    .col-12.collapse#mainTable
                        .table-responsive
                            table.table.table-bordered
                                thead.thead-dark
                                    tr
                                        th &nbsp;
                                        th.text-center TUE
                                        th.text-center THU
                                        th.text-center SAT
                                        th.text-center SUN
                                tbody
                                    tr
                                        th.text-center 8-10
                                        +tdButt("disabled")
                                        +tdButt("disabled")
                                        +tdButt("selector btn68")
                                        +tdButt("selector btn08")
                                    tr
                                        th.text-center 10-12
                                        +tdButt("disabled")
                                        +tdButt("disabled")
                                        +tdButt("selector btn610")
                                        +tdButt("selector btn010")
                                    tr
                                        th.text-center 13-15
                                        +tdButt("disabled")
                                        +tdButt("disabled")
                                        +tdButt("selector btn613")
                                        +tdButt("selector btn013")
                                    tr
                                        th.text-center 15-17
                                        +tdButt("disabled")
                                        +tdButt("disabled")
                                        +tdButt("selector btn615")
                                        +tdButt("selector btn015")
                                    tr
                                        th.text-center 17-19
                                        +tdButt("selector btn217")
                                        +tdButt("selector btn417")
                                        +tdButt("disabled")
                                        +tdButt("disabled")
                    .col-12.table-responsive.collapse#summerTable
                        table.table.table-bordered
                            thead.thead-dark
                                tr
                                    th &nbsp;
                                    th.text-center 8-10
                                    th.text-center 10-12
                                    th.text-center 13-15
                            tbody
                                tr
                                    th.text-center CR
                                    +tdButt("selector btn18")
                                    +tdButt("selector btn110")
                                    +tdButt("selector btn113")
            .col-12.offset-md-9.col-md-3.offset-xl-10.col-xl-2.p-0#statusSidebar
                .dropdown
                    button.col-12.btn.dropdown-toggle#statusButton(type="button" data-toggle="dropdown") STATUS
                    .dropdown-menu#statusDropdown
                hr
                #statusSubButton

