extends htmlTemplate
block head
    -const pageTitle = "Hybrid Description"
block script
    script(src="js/adminHybridInfo.min.js")
block body
    .container
        h1#fhbSubj FHB:#
        .row
            p.col-auto#day Day:Monday
            p.col-auto#time 8:00-10:00
        .row
            p.col-auto#hbID sadasdaskdkaskdkljakld
        .table-responsive
            table.table.table-hover
                thead.thead-dark
                    tr
                        th.text-center(width='10%') No.
                        th.text-center(width='15%') ID
                        th.text-center(width='20%') Nickname
                        th.text-center(width='20%') Name
                        th.text-center(width='20%') Surname
                        th.text-center(width='15%') Grade
                tbody#allStudentInHybrid