extends htmlTemplate
block head
    -const pageTitle = "Course Room"
    style.
        td{
            font-size: 18px
        }
block script
    script(src="js/adminRoom.min.js")
block body
    .container-fluid
        .form-group.col-3
            label
                span.fas.fa-fw.fa-lg.fa-th-large &nbsp;
                |Quarter
            select.custom-select#quarterSelect
    ul.nav.nav-tabs.nav-justified
        li.nav-item: a.nav-link.active(data-toggle="tab" href="#tue17") Tue
        li.nav-item: a.nav-link(data-toggle="tab" href="#thu17") Thu
        li.nav-item: a.nav-link(data-toggle="tab" href="#sat8") Sat 8
        li.nav-item: a.nav-link(data-toggle="tab" href="#sat10") Sat 10
        li.nav-item: a.nav-link(data-toggle="tab" href="#sat13") Sat 13
        li.nav-item: a.nav-link(data-toggle="tab" href="#sat15") Sat 15
        li.nav-item: a.nav-link(data-toggle="tab" href="#sun8") Sun 8
        li.nav-item: a.nav-link(data-toggle="tab" href="#sun10") Sun 10
        li.nav-item: a.nav-link(data-toggle="tab" href="#sun13") Sun 13
        li.nav-item: a.nav-link(data-toggle="tab" href="#sun15") Sun 15
    .tab-content
        .tab-pane.container.active#tue17
        .tab-pane.container#thu17
        .tab-pane.container#sat8
        .tab-pane.container#sat10
        .tab-pane.container#sat13
        .tab-pane.container#sat15
        .tab-pane.container#sun8
        .tab-pane.container#sun10
        .tab-pane.container#sun13
        .tab-pane.container#sun15