extends htmlTemplate
block head
    -const pageTitle = "Hybrid Description"
block script
    script(src="js/adminHybridInfo.js")
block body
    .container
        h1#fhbSubj FHB:#
        .row
            p.col-auto#day Day:Monday
            p.col-auto#time 8:00-10:00
        .row
            p.col-auto#courseID sadasdaskdkaskdkljakld
        .table-responsive
            table.table.table-hover
                thead.thead-dark
                    tr
                        th.w-10 No.
                        th.w-10.text-center ID
                        th.w-20.text-center Nickname
                        th.w-30 Name
                        th.w-20 Surname
                tbody#allStudentInHybrid