extends htmlTemplate
block head
    - var pageTitle = "Calendar"
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css")
    //- link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css")
block script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js")
    script(src="js/adminCalendar.js")
block body
    h1.text-center.mt-5
        span.fas.fa-2x.fa-fw.fa-cog.fa-spin(style="color:red")
        |Under Construction
    //- .container-fluid.pt-3(hidden='true')
        #calendar