extends htmlTemplate
block head
    - var pageTitle = "Student Attendance Modifier"
    link(rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css")
    script(src="js/admin.min.js")
    script(src="js/bootstrap3-typeahead.min.js")
    script(src="js/bootstrap-datetimepicker.min.js")
    script(src="js/adminStudentAttendanceModifier.min.js")
block body
    .container
        ul.nav.nav-tabs
            li.active: a(data-toggle="tab" href="#fhb") FHB
            li: a(data-toggle="tab" href="#sm") SUMMER
        .tab-content
            #fhb.tab-pane.fade.in.active
                .row
                    .col-sm-4
                        .form-group
                            label.control-label Day:
                            input.form-control#datePicker(type="text")
                    .col-sm-4
                        .form-group
                            label Time:
                            select.form-control#crTimePick(type="text")
                    .col-sm-4
                        .form-group
                            label Filter:
                            select.form-control#filterPick(type="text")
                                option ALL
                                option HB
                                option CR
                .row
                    .col-sm-8
                        .table-responsive
                            table.table.table-bordered
                                thead
                                    tr: td.text-center.danger(colspan=7) ลา
                                    tr
                                        td.text-center Time
                                        td.text-center ID
                                        td.text-center Name
                                        td.text-center Subject
                                        td.text-center Tutor
                                        td.text-center Reason
                                        td.text-center ลบ
                                tbody#crAbsentTable
                    .col-sm-4
                        .table-responsive
                            table.table.table-bordered
                                thead
                                    tr: td.text-center.success(colspan=4) เพิ่ม
                                    tr
                                        td.text-center ID
                                        td.text-center Name
                                        td.text-center Subject
                                        td.text-center ลบ
                                tbody#crPresentTable
            #sm.tab-pane.fade
                ul.breadcrumb
                    li: a#aByName(href="#") By Name
                    li: a#aByWeek(href="#") By Week
                #smByName.collapse
                #smByWeek.collapse
                    .row
                        form.col-sm-2
                            .form-group
                                label(for="weekSelect") Week:
                                select.form-control#weekSelect
                                    option(value="0") Select Week
                                    option(value="9") 9-13
                                    option(value="16") 16-20
                                    option(value="23") 23-17
                        form.col-sm-2
                            .form-group
                                label(for="typeSelect") Filter:
                                select.form-control#typeSelect
                                    option(value="0") No filter
                                    option(value="1") ลา
                                    option(value="2") เพิ่ม
                    .table-responsive
                        table.table.table-hover.table-bordered
                            thead
                                tr
                                    th.text-center ID
                                    th.text-center Name
                                    th.text-center Date
                                    th.text-center Time
                            tbody#smWeekBody