extends htmlTemplate
block head
    -const pageTitle = "Admin Home"
block script
    script(src="galleria/galleria-1.5.7.min.js")
    script(src="js/home.min.js")
    script.
        loadAdminHomeCarousel();
block body
    .container-fluid
        .row.pt-3
            .col
                .galleria
        .row.pt-3
            .col
                button#uploadBtn.btn.btn-outline-primary Upload Slide
                .btn-group.float-right(role='group')
                    button#stdPtBtn.btn.btn-outline-info Student Portrait
                    button#stdLcBtn.btn.btn-outline-info Student Landscape
                    button#adminNwBtn.btn.btn-outline-info News
        //- Modal for upload picture
        #uploadModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Upload slide
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .row
                            label.col-12.text-danger.text-center Prefix for slide:
                            label.col-12.text-center Student Portrait = p, Student Landscape = l, News = n
                        .custom-file
                            input#slideFile.custom-file-input(type="file" multiple)
                            label#fileLabel.custom-file-label Please select file...
                    .modal-footer   
                        button#submitUploadBtn.btn.btn-success(type="button") Upload
                        button.btn.btn-danger(type="button" data-dismiss="modal") Cancel

