extends htmlTemplate
block head
    -const pageTitle = "Course Description"
block script
    script(src="js/adminCourseDescription.min.js")
block body
    .container
        .row
            .col
                h1#courseName Course Name
                h3#tutorName Tutor Name
                br
        .row
            p.col-auto#day Day:Monday
            p.col-auto.mr-auto#time 8:00-10:00
            p.col-auto#courseID sadasdaskdkaskdkljakld
        .table-responsive
            table.table.table-hover
                thead.thead-dark
                    tr
                        th.w-10 No.
                        th.w-10.text-center ID
                        th.w-20.text-center Nickname
                        th.w-30 Name
                        th.w-20 Surname
                tbody#allStudentInCourseTable