extends htmlTemplate
block head
<<<<<<< HEAD
    -const pageTitle = "Admin Chat"
block body
    
   head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    script(type='text/javascript', src='jquery-1.4.2.min.js')
    script(type='text/javascript').
      
      $(document).ready(function(){
    
      $('ul#messages > li').remove();
      $('form').submit(function(){
      var form = $(this);
      var name =  form.find("input[name='name']").val();
      var content =  form.find("input[name='content']").val();
      
      if (name == '' || content == '')
      return false;
      
      
      $.post(form.attr('action'), {'name': name, 'content': content}, function(data, status){
      $('<li class="pending" />').text(content).prepend($('<small />').text(name)).appendTo('ul#messages');
      $('ul#messages').scrollTop( $('ul#messages').get(0).scrollHeight );
      form.find("input[name='content']").val('').focus();
      });
      return false;
      });
      
      var poll_for_new_messages = function(){
      $.ajax({url: 'messages.json', dataType: 'json', ifModified: true, timeout: 2000, success: function(messages, status){
      
      if (!messages)
      return;
      
      $('ul#messages > li.pending').remove();
      
      
      var last_message_id = $('ul#messages').data('last_message_id');
      if (last_message_id == null)
      last_message_id = -1;
      
      
      for(var i = 0; i < messages.length; i++)
      {
      var msg = messages[i];
      if (msg.id > last_message_id)
      {
      var date = new Date(msg.time * 1000);
      $('<li/>').text(msg.content).
      prepend( $('<small />').text(date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds() + ' ' + msg.name) ).
      appendTo('ul#messages');
      $('ul#messages').data('last_message_id', msg.id);
      }
      }
      
      
      $('ul#messages > li').slice(0, -50).remove();
      $('ul#messages').scrollTop( $('ul#messages').get(0).scrollHeight );
      }});
      };
      
      poll_for_new_messages();
      setInterval(poll_for_new_messages, 2000);
      });
      
    style(type='text/css').
      html { margin: 0em; padding: 0; } 
      body { margin: 0em; padding: 0; font-family: sans-serif; font-size: medium; color: #333; }
      h1 { margin: 0; padding: 0; font-size: 2em; }
      p.subtitle { margin: 0; padding: 0 0 0 0.125em; font-size: 0.77em; color: #grey; }
      ul#messages { overflow:auto; height: 20em; margin: 4em; padding: 0 10px; list-style: none; border: 3px solid teal; }
      ul#messages li { margin: 0.35em 0; padding: 0; }
      ul#messages li small { display: block; font-size: 0.59em; color: grey; }
      ul#messages li.pending { color: #aaa; }
      form { font-size: 1em; margin: -2em 0em 0em 4em; padding: 0em; }
      form p { position: relative; margin: 1em 0em 0em 0em; padding: 0em; }
      form p input { font-size: 1em; }
      form p button { position: absolute; top: 0; right: 0em; }
      ul#messages, form p, input#content { width: 78em; }
      pre { font-size: 0.77em; }


    body
    ul#messages
      li blank
    form
      p
        input#content(type='text', name='content')
      p
        button.btn.btn-outline-info(type='button') Send
=======
    -const pageTitle = "AdminChat"
block body
    h1 hello world
>>>>>>> 9546b515817170bd359c695b7311ec064f1b4073
