extends htmlTemplate
block head
    - var pageTitle = "Student Attendance Modifier"
    //- link(rel="stylesheet", href="css/typeaheadjs.css")
    link(rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css")
    link(href="css/component.css", rel="stylesheet")
block script
    script(src="js/admin.min.js")
    //- script(src="js/bootstrap3-typeahead.min.js")
    script(src="js/bootstrap-datetimepicker4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js")
    script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels")
    script(src="js/custom-file-input.js")
    script(src="js/adminStudentAttendanceModifier.min.js")
block body
    ul.nav.nav-tabs.nav-justified
        li.nav-item: a.nav-link.active(data-toggle="tab" href="#chartContent") Chart
        li.nav-item: a.nav-link(data-toggle="tab" href="#hbContent") HB
        li.nav-item: a.nav-link(data-toggle="tab" href="#crContent") CR
        li.nav-item: a.nav-link(data-toggle="tab" href="#activityContent") Activity
        li.nav-item: a.nav-link(data-toggle="tab" href="#addAttendContent") Add
    .tab-content
        //- chart tabs content
        #chartContent.tab-pane.container-fluid.active
            .chart-container.mx-auto(style="position: relative; height:70vh; width:80vw")
                canvas#fhbChart
        //- hb tabs content
        #hbContent.tab-pane.container-fluid
            .row
                .col-12.col-md-4
                    .form-group
                        label.control-label Day:
                        input.form-control#fhbDatePicker(type="text")
                .col-12.col-md-4
                    .form-group
                        label Time:
                        select.form-control#fhbTimePick(type="text")
                .col-12.col-md-4
                    .form-group
                        label Filter:
                        select.form-control#fhbFilterPick(type="text")
                            option ALL
                            option FHB
                            option HB
                            //- option CR
            .row
                .col-12.col-md-7
                    .table-responsive
                        table.table.table-bordered.table-hover
                            thead
                                tr: th.text-center.table-danger(colspan=8) ลา
                                tr
                                    th.text-center Time
                                    th.text-center Name
                                    th.text-center Subject
                                    th.text-center Tutor
                                    th.text-center Reason
                                    th.text-center: span.fa.fa-lg.fa-folder 
                                    th.text-center.remarkReset Remark
                                    th.text-center ลบ
                            tbody#fhbAbsentTable
                .col-12.col-md-5
                    .table-responsive
                        table.table.table-bordered.table-hover
                            thead
                                tr: td.text-center.table-success(colspan=5) เพิ่ม
                                tr
                                    th.text-center Time
                                    th.text-center Name
                                    th.text-center Subject
                                    th.text-center.remarkReset Remark
                                    th.text-center ลบ
                            tbody#fhbPresentTable
        //- Cr tab content
        #crContent.tab-pane.container-fluid
            .row
                .col-12.col-md-4
                    .form-group
                        label.control-label Day:
                        input.form-control#crDatePicker(type="text")
                .col-12.col-md-4
                    .form-group
                        label Time:
                        select.form-control#crTimePick(type="text")
                .col-12.col-md-4
                    .form-group
                        label Tutor:
                        select.form-control#crFilterPick(type="text")
                            option(value="0") All
            .row
                .col
                    .table-responsive
                        table.table.table-bordered.table-hover
                            thead
                                tr: th.text-center.table-danger(colspan=8) ลา
                                tr
                                    th.text-center Time
                                    th.text-center Name
                                    th.text-center Subject
                                    th.text-center Tutor
                                    th.text-center Reason
                                    th.text-center: span.fa.fa-lg.fa-folder 
                                    th.text-center.remarkReset Remark
                                    th.text-center ลบ
                            tbody#crAbsentTable
        //- Activity tab content
        #activityContent.tab-pane.container-fluid
            br
            .row
                .col-12
                    .table-responsive
                        table.table.table-bordered.table-hover
                            thead.thead-light
                                tr
                                    th.text-center Timestamp
                                    th.text-center Name
                                    th.text-center Subject
                                    th.text-center Time
                                    th.text-center Reason
                                    th.text-center: span.fa.fa-lg.fa-folder 
                                    th.text-center Sender
                                    th.text-center ลบ
                            tbody#acTableBody
                .col-12
                    button.btn.btn-primary#loadMoreButt Load more
                    a#upToTop.float-right(href="#") Up to top
        //- Add tab content
        #addAttendContent.tab-pane.container
            .row
                .col-12
                    .form-group
                        label &nbsp;
                        select.form-control#addType(type="text")
                            option(value=1) ลา
                            option(value=2) เพิ่ม
                .col-12
                    .form-group
                        label.control-label StudentID:
                        input.form-control#addStdID(type="text")
                .col-md-6.col-12
                    .form-group
                        label.control-label Day:
                        input.form-control#addDatePicker(type="text")
                .col-md-6.col-12
                    .form-group
                        label Time:
                        select.form-control#addTime(type="text")
                .col-12.absentContent
                    .form-group
                        label.control-label Reason:
                        input.form-control#addReason(type="text")
                .col-12.addContent
                    .form-group
                        label Subject:
                        select.form-control#addSubj(type="text")
                            option(value="M") FHB:M
                            option(value="P") FHB:P
            .row
                .col
                    button.btn.btn-success.float-right#addNewAttend ADD ATTEND

    //- Modal for show pic
    #picModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Attendance image
                    button.close(type="button" data-dismiss="modal") &times;
                .modal-body
                    img#picSrc.img-fluid(src="#")
                .modal-footer
                    button.btn.btn-danger(type="button" data-dismiss="modal") Close

    //- Modal for upload pic
    #picUploadModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Attendance image upload
                    button.close(type="button" data-dismiss="modal") &times;
                .modal-body
                    .box(align="center")
                        input#file-img.inputfile.inputfile-1(
                            type="file"
                            name="file-img[]"
                            style="opacity: 0;height: 0;"
                        )
                        label(for="file-img")
                            svg(xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17")
                                path(d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z")
                            span เลือกรูป
                .modal-footer
                    button.btn.btn-success#uploadPicButt(type="button") Upload
                    button.btn.btn-danger(type="button" data-dismiss="modal") Close