extends htmlTemplate
block head
    -const pageTitle = "Conference list"
    link(href="css/component.css", rel="stylesheet")
    script(src="js/adminConference.js")
block body
    .container
        .col-sm-12
            h1 List Conference
        .col-sm-12.table-responsive#list
            table.table.table-hover
                thead
                    tr
                        th.col-sm-1.col-xs-1
                            .text-center #
                        th.col-sm-3.col-xs-3
                            .text-center Conference Name
                        th.col-sm-1.col-xs-1
                            .text-center Accept
                        th.col-sm-1.col-xs-1
                            .text-center Reject
                        th.col-sm-2.col-xs-2
                            .text-center Date
                        th.col-sm-1.col-xs-1
                            .text-center Day
                        th.col-sm-2.col-xs-2
                            .text-center Time
                tbody#conferencename
                    tr(name="all")
                        td 
                            .text-center 0
                        td
                            .text-center All Conference
                        td
                            .text-center#allaccept &nbsp;
                        td
                            .text-center#allreject &nbsp; 
                        td
                            .text-center &nbsp;
                        td
                            .text-center &nbsp;
                        td
                            .text-center &nbsp;
        #student
            .col-sm-12
                form.col-sm-2
                    .form-group
                        label Filter:
                        select.form-control#filter(style="margin-bottom: 5px")
                            option(value="all") All
                            option(value="accept") Accept
                            option(value="reject") Reject
                form.col-sm-2(style="display:none;")
                    .form-group
                        label Conference:
                        select.form-control#byname(style="margin-bottom: 5px")
                            option(value="all") All
                            
                form.col-sm-2
                    .form-group
                        label Sort:
                        select.form-control#sortby(style="margin-bottom: 5px")
                            option(value="time") By time
                            option(value="grade") By grad
e
                form.col-sm-2
                    .form-group
                        label &nbsp;
                        button.btn.btn-default.form-control(type="button" onClick="$('#student').hide();$('#list').show()") &lt;&lt; Back
                            
            .col-sm-12.table-responsive
                table.table.table-hover
                    thead
                        tr
                            th.col-sm-1.col-xs-1
                                .text-center #
                            th.col-sm-1.col-xs-1
                                .text-center studentID
                            th.col-sm-2.col-xs-2 Name
                            th.col-sm-1.col-xs-1
                                .text-center Grade
                            th.col-sm-1.col-xs-1
                                .text-center Co.Name
                            th.col-sm-1.col-xs-1
                                .text-center Day
                            th.col-sm-1.col-xs-1 
                                .text-center Time
                            th.col-sm-1.col-xs-1 
                                .text-center Decision
                            th.col-sm-3.col-xs-3 Reason
                    tbody#tablebody
                    