extends htmlTemplate
block head
    -const pageTitle = "Course Description"
block script
    script(src="js/adminCourseDescription.min.js")
block body
    .container
        h1#courseName Course Name
        h3#tutorName Tutor Name
        .row
            p.col-auto#day Day:Monday
            p.col-auto#time 8:00-10:00
        .row
            p.col.mr-auto#crDescription asdasdsadsada
            p.col-auto#courseID sadasdaskdkaskdkljakld
        .table-responsive
            table.table.table-hover
                thead.thead-dark
                    tr
                        th.w-5 No.
                        th.w-10.text-center ID
                        th.w-15.text-center Nickname
                        th.w-30 Name
                        th.w-20 Surname
                        th.w-10.text-center Grade
                tbody#allStudentInCourseTable
        //- Modal for edit course
        #changeCrInfoModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Change Info
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .form-group
                            label(for="levelInput")
                                span.fa.fa-level-up
                                |Level
                            input.form-control#levelInput(type="text")
                        .form-group
                            label(for="desInput")
                                span.fa.fa-comment
                                |Description
                            input.form-control#desInput(type="text")
                        .form-group
                            label(for="dayInput")
                                span.fa.fa-clock-o
                                |Day
                            select.form-control#dayInput
                                option(value="176400000") Sat 8-10
                                option(value="183600000") Sat 10-12
                                option(value="194400000") Sat 13-15
                                option(value="201600000") Sat 15-17
                                option(value="262800000") Sun 8-10
                                option(value="270000000") Sun 10-12
                                option(value="280800000") Sun 13-15
                                option(value="288000000") Sun 15-17
                        .form-group
                            label(for="tutorInput")
                                span.fa.fa-users
                                |Tutor
                            select.form-control#tutorInput
                        .form-group
                            label(for="roomInput")
                                span.fa.fa-home
                                |Room
                            select.form-control#roomInput
                                option(value="-1") Non-assign
                                option(value="0") Hybrid
                                option(value="1") Room 1
                                option(value="2") Room 2
                                option(value="3") Room 3
                                option(value="4") Room 4
                                option(value="5") Glass
                    .modal-footer
                        button.btn.btn-success#changeCrInfoButt(type="button") Change
                        button.btn.btn-danger(type="button" data-dismiss="modal") Cancel