extends htmlTemplate
block head
    - var pageTitle = "Workflow"
block script
    script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js")
    script(src="js/adminWorkflow.min.js")
block body
    h1.text-center.mt-5#loaddingPane
        span.fas.fa-2x.fa-fw.fa-sync.fa-spin(style="color:red")
        |Fetching data from server
    .container-fluid#bodyPane
        .row
            .col-12.col-md-3
                h1#taskCount.text-danger 13 Task
            .col-12.col-md-3.offset-md-6.pt-2
                select.custom-select#filterSelect
                    option(value="0") All
        .table-responsive
            table.table.table-bordered
                thead.thead-dark
                    tr
                        th.text-center(onclick='genTable(2)') Task
                        th.text-center(onclick='genTable(3)') Create By
                        th.text-center(onclick='genTable(4)') Status
                        th.text-center(onclick='genTable(5)') In charge
                        th.text-center(onclick='genTable(6)') Due date
                tbody#tableBody