extends htmlTemplate
block head
    -const pageTitle = "Admin Course Table"
    script(src="js/admin.min.js")
    script(src="js/constRegisQuarter.js")
    script(src="js/adminCrTable.min.js" type="text/javascript")
block body
    .container
        .col-sm-8.col-sm-offset-2
            form#level
                label เลือกระดับชั้น
                label.checkbox-inline
                    input(type="checkbox" value="1")
                    | P1
                label.checkbox-inline
                    input(type="checkbox" value="2")
                    | P2
                label.checkbox-inline
                    input(type="checkbox" value="3")
                    | P3
                label.checkbox-inline
                    input(type="checkbox" value="4")
                    | P4
                label.checkbox-inline
                    input(type="checkbox" value="5")
                    | P5
                label.checkbox-inline
                    input(type="checkbox" value="6")
                    | P6
                label.checkbox-inline
                    input(type="checkbox" value="7")
                    | S1
                label.checkbox-inline
                    input(type="checkbox" value="8")
                    | S2
                label.checkbox-inline
                    input(type="checkbox" value="9")
                    | S3
                label.checkbox-inline
                    input(type="checkbox" value="10")
                    | S4
                label.checkbox-inline
                    input(type="checkbox" value="11")
                    | S5
                label.checkbox-inline
                    input(type="checkbox" value="12")
                    | S6
                button.btn.btn-default(onclick="sendLevel()" type="button") SUBMIT
            br
    .container-fluid
        .table-responsive
            table.table.table-hover.table-bordered
                thead
                    tr#tableLevel
                    tr#tableGroup
                tbody
                    tr#sat8
                    tr#sat10
                    tr#sat13
                    tr#sat15
                    tr#spaceRow
                    tr#sun8
                    tr#sun10
                    tr#sun13
                    tr#sun15