extends htmlTemplate
block head
    - var pageTitle = "Check I/O summary"
    link(rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css")
    style.
        #tutorHistoryModal .modal-lg {
            max-width: 85%;
        }

        .btn-- {
            background-color: white;
        }

        .btn-HB {
            background-color: #F06292;
            color: white;
        }

        .btn-Admin {
            background-color: #afb42b;
            color: white;
        }

        .btn-Sheet {
            background-color: #FFC107;
            color: white;
        }

        .btn-Com {
            background-color: #4DD0E1;
            color: white;
        }

        .btn-Read {
            background-color: #A1887F;
            color: white;
        }

        .btn-Course {
            background-color: #FF8F00;
            color: white;
        }
block script
    script(src="js/bootstrap-datetimepicker4.min.js")
    script(src="js/checkInSummary.js")
mixin checkoutOption
    option(value=-1) -
    option(value=0) Hybrid
    option(value=1) Admin
    option(value=2) Sheet
    option(value=3) Com
    option(value=4) Reading
    option(value=5) Course
block body
    .container-fluid
        .row
            .col-12.col-md-3
                .form-group
                    select#interval-select.form-control
            .col-6.col-md-2.pr-0
                button#addIntervalButt.col-12.btn.btn-outline-info(type="button")
                    span.fa.fa-plus-circle
                    | &nbsp;Add new
            .col-6.col-md-2.pl-0
                button#editIntervalButt.col-12.btn.btn-outline-info(type="button")
                    span.fa.fa-cogs
                    | &nbsp;Edit
            .col-12.col-md-2
                button#summaryTableButt.col-12.btn.btn-outline-info(type="button") Summary
        .row
            .col-12.table-responsive
                table.table.table-hover
                    thead.thead-dark
                        tr
                            th.text-center ID
                            th.text-center Name
                            th.text-center Pos.
                            th.text-center Done
                            th.text-center WH
                            th.text-center Credits
                            th.text-center Gain
                            th.text-center Amount
                            th.text-center Extra
                            th.text-center Total
                    tbody#mainTableBody

        //Modal for add new interval
        #addIntervalModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Add interval
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .form-group
                            label Start time:
                            input#addIntervalStart.form-control(type='text')
                            label End time:
                            input#addIntervalEnd.form-control(type='text')
                    .modal-footer
                        button#addIntervalSubmitButt.btn.btn-success(type="button") Add
                        button.btn.btn-danger(type="button" data-dismiss="modal") Close

        //Modal for edit interval
        #editIntervalModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Edit interval
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .form-group
                            label Start time:
                            input#editIntervalStart.form-control(type='text')
                            label End time:
                            input#editIntervalEnd.form-control(type='text')
                            //label Multiplier:
                            //input#editIntervalMultiplier.form-control(type='number')
                    .modal-footer
                        button#editIntervalSubmitButt.btn.btn-info(type="button") Edit
                        button#editIntervalRemoveButt.btn.btn-warning(type="button") Remove
                        button.btn.btn-danger(type="button" data-dismiss="modal") Close

        //Modal for edit gain
        #editGainModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title#editGainModalTitle
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .row
                            .col-12
                                .form-group
                                    label Input:
                                    input#editGainValue.form-control(type='number')
                    .modal-footer
                        button.btn.btn-success#editGainSubmitButt(type="button") Edit
                        button.btn.btn-danger(type="button" data-dismiss="modal") Cancel

        //Modal for show summary table
        #summaryTableModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Summary
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body.p-0
                        .table-responsive
                            table.table.table-hover.table-striped.mb-0
                                thead.thead-dark
                                    tr
                                        th.text-center Name
                                        th.text-center Total
                                        th.text-center Done
                                tbody#summaryTableBody
                    .modal-footer
                        button.btn.btn-danger(type="button" data-dismiss="modal") Close

        //Modal for show summary cover
        #summaryCoverModal.modal.fade
            .modal-dialog
                .modal-content(style="background-color:lightblue")
                    .modal-header
                        h4.modal-title#summaryCoverTitle
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body#summerCoverBody
                    .modal-footer
                        button.btn.btn-danger#summaryCoverCloseButt(type="button" data-dismiss="modal") Close

        //Modal for show independent history
        #tutorHistoryModal.modal.fade
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h4.modal-title#tutorHistoryModalTitle
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body.p-0
                        .col#independentExtra
                        .table-responsive
                            table.table.table-hover.mb-0
                                tbody#tutorHistoryModalTable
                    .modal-footer
                        button.btn.btn-info#addHistoryButt(type="button") Add
                        button.btn.btn-danger(type="button" data-dismiss="modal") Close

        //Modal for change sub position
        #changeSunPosModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Change sub position
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .row
                            .col-12
                                .form-group
                                    label Input:
                                    input#changeSunPosInput.form-control(type='text')
                    .modal-footer
                        button.btn.btn-success#changeSubPosSubmitButt(type="button") Change
                        button.btn.btn-danger(type="button" data-dismiss="modal") Cancel

        //Modal for add First page reason
        #fpReasonModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Add reason
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .row
                            .col-12
                                .form-group
                                    label Input:
                                    input#fpReasonAdd.form-control(type='text')
                    .modal-footer
                        button.btn.btn-success#fpReasonAddSubmitButt(type="button") Add
                        button.btn.btn-warning#fpReasonRmSubmitButt(type="button") Remove
                        button.btn.btn-danger(type="button" data-dismiss="modal") Cancel

        //Modal for add Extra
        #addExtraModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Add extra
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .row
                            .col-12.col-md-6
                                .form-group
                                    label Value:
                                    input#addExtraValue.form-control(type='number')
                            .col-12.col-md-6
                                .form-group
                                    label Reason:
                                    input#addExtraReason.form-control(type='text')
                    .modal-footer
                        button.btn.btn-success#addExtraSubmitButt(type="button") Add
                        button.btn.btn-danger(type="button" data-dismiss="modal") Cancel

        //Modal for edit checkIO history time
        #checkIOTimeHistoryModal.modal.fade
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h4.modal-title Edit time
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .row
                            .col-12.col-md-6
                                .form-group
                                    label Check in:
                                    input#editTutorHistoryIn.form-control(type='text')
                            .col-12.col-md-6
                                .form-group
                                    label Check out:
                                    input#editTutorHistoryOut.form-control(type='text')
                    .modal-footer
                        button.btn.btn-success#editTutorHistorySubmitButt(type="button") Edit
                        button.btn.btn-danger(type="button" data-dismiss="modal") Cancel

        //Modal for edit checkIO slot
        #checkIOSlotModal.modal.fade
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h4.modal-title Edit slot
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body.py-0
                        .row
                            button.selector.col-4.btn.btn-outline-primary Hybrid
                            button.selector.col-4.btn.btn-outline-primary Admin
                            button.selector.col-4.btn.btn-outline-primary Sheet
                            button.selector.col-4.btn.btn-outline-primary Com
                            button.selector.col-4.btn.btn-outline-primary Reading
                            button.selector.col-4.btn.btn-outline-primary Course
                        .row
                            button.selector.col.btn.btn-outline-primary -
                    .modal-footer
                        button.btn.btn-danger(type="button" data-dismiss="modal") Cancel

        //Modal for add new history
        #addHistoryModal.modal.fade
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h4.modal-title Add history
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .row
                            .col-12
                                .form-group
                                    label Date:
                                    input#addTutorHistoryDate.form-control(type='text')
                        .row
                            .col-12.col-md-6
                                .form-group
                                    label Check in:
                                    input#addTutorHistoryIn.form-control(type='text')
                            .col-12.col-md-6
                                .form-group
                                    label Check out:
                                    input#addTutorHistoryOut.form-control(type='text')
                        .row
                            .col-12.col-md-4
                                .form-group
                                    label 8-10:
                                    select#addHistorySlot8.form-control
                                        +checkoutOption
                            .col-12.col-md-4
                                .form-group
                                    label 10-12:
                                    select#addHistorySlot10.form-control
                                        +checkoutOption
                            .col-12.col-md-4
                                .form-group
                                    label 13-15:
                                    select#addHistorySlot13.form-control
                                        +checkoutOption
                        .row
                            .col-12.col-md-4
                                .form-group
                                    label 15-17:
                                    select#addHistorySlot15.form-control
                                        +checkoutOption
                            .col-12.col-md-4
                                .form-group
                                    label 17-19:
                                    select#addHistorySlot17.form-control
                                        +checkoutOption
                            .col-12.col-md-4
                                .form-group
                                    label 19++:
                                    select#addHistorySlot19.form-control
                                        +checkoutOption
                    .modal-footer
                        button.btn.btn-success#addTutorHistorySubmitButt(type="button") Add
                        button.btn.btn-danger(type="button" data-dismiss="modal") Cancel