mixin course-link(courseName,day)
    if(day.day()==1)
        td.course-link.c-yellow&attributes(attributes)
            +course-link-content(courseName,day)
    else if(day.day()==2)
        td.course-link.c-pink&attributes(attributes)
            +course-link-content(courseName,day)
    else if(day.day()==3)
        td.course-link.c-lightgreen&attributes(attributes)
            +course-link-content(courseName,day)
    else if(day.day()==4)
        td.course-link.c-orange&attributes(attributes)
            +course-link-content(courseName,day)
    else if(day.day()==5)
        td.course-link.c-blue&attributes(attributes)
            +course-link-content(courseName,day)
    else if(day.day()==6)
        td.course-link.c-purple&attributes(attributes)
            +course-link-content(courseName,day)
    else if(day.day()==0)
        td.course-link.c-red&attributes(attributes)
            +course-link-content(courseName,day)
    else
        td.course-link&attributes(attributes)
            +course-link-content(courseName,day)
mixin course-link-content(courseName,day)
    h4= courseName
    h4.small= day.format("ddd H-").toUpperCase()+moment(day).add(2,"h").hour()
mixin cell(status)
    if(status==null)
        td.popup.c-grey&attributes(attributes)
            span.glyphicon.glyphicon-minus
    else if(status=="accepted")
        td.popup.c-lightgreen&attributes(attributes)
            span.glyphicon.glyphicon-ok
    else if(status=="rejected")
        td.popup.c-red&attributes(attributes)
            span.glyphicon.glyphicon-remove
    else if(status=="pending")
        td.popup.c-blue&attributes(attributes)
            span.glyphicon.glyphicon-hourglass
mixin quarter-selector(page,quarter,currentQuarter)
    .dropdown
        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
            = "Quarter : "+currentQuarter.name+" "
            span.caret
        ul.dropdown-menu
            -for(var i in quarter)
                li: a(href="/"+page+"?year="+quarter[i].year+"&quarter="+quarter[i].quarter)= quarter[i].name
