mixin course-link(courseName,day)
    if(day.day()==6)
        td.course-link.c-purple&attributes(attributes)
            +course-link-content(courseName,day)
    else if(day.day()==0)
        td.course-link.c-red&attributes(attributes)
            +course-link-content(courseName,day)
    else
        td.course-link&attributes(attributes)
            +course-link-content(courseName,day)
mixin course-link-content(courseName,day)
    h4= courseName
    h4.small= day.format("ddd H-").toUpperCase()+moment(day).add(2,"h").hour()
mixin cell(status)
    if(status==null)
        td.popup.c-grey&attributes(attributes)
            span.glyphicon.glyphicon-minus
    else if(status=="accepted")
        td.popup.c-lightgreen&attributes(attributes)
            span.glyphicon.glyphicon-ok
    else if(status=="rejected")
        td.popup.c-red&attributes(attributes)
            span.glyphicon.glyphicon-remove
    else if(status=="pending")
        td.popup.c-blue&attributes(attributes)
            span.glyphicon.glyphicon-hourglass
mixin quarter-selector(page,quarterName)
    .dropdown
        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
            = "Quarter : "+quarterName+" "
            span.caret
        ul.dropdown-menu
            li: a(href="/"+page+"?year=2017&quarter=3") CR60Q3
            li: a(href="/"+page+"?year=2017&quarter=12") CR60OCT
            li: a(href="/"+page+"?year=2017&quarter=4") CR60Q4
