extends htmlTemplate
block head
    -const pageTitle = "Home"
block script
    script(src="galleria/galleria-1.5.7.min.js")
    script(src="js/home.min.js")
    script.
        loadHomeCarousel();
block body
    .container-fluid
        .row
            .col.text-center.pt-2
                h3 คู่มือการลงทะเบียน
        .row
            #slideShow.col
                .galleria