- if(!webUser)webUser={userID:12345,position:"dev",firstname:"ชื่อจริง",lastname:"นามสกุล"}
mixin navLink(pageURL,pageName)
    li.nav-item: a.nav-link(href=pageURL)=pageName
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, shrink-to-fit=no")
        //- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Athiti|Chonburi|Itim|Kanit|Maitree|Mitr|Oxygen|Pattaya|Pridi|Prompt|Sriracha|Taviraj|Trirong")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        link(rel="apple-touch-icon" sizes="57x57" href="/images/ios_icon57x57.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/images/ios_icon72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/images/ios_icon114x114.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/images/ios_icon144x144.png")
        block head
        title= pageTitle?pageTitle:"Monkey-Monkey Official Website"
    body#container
        block header
        if(!hideNavbar)
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
                if(webUser.position=="student")
                    a.navbar-brand(href="home") MONKEY
                else
                    a.navbar-brand(href="adminHome") MONKEY
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#navbarContent
                    ul.navbar-nav.mr-auto
                        if(webUser.position=="student")
                            if(config.allowRegistration)
                                li.nav-item: a.nav-link(href="/regisPage?page=1") ลงทะเบียน
                            +navLink("absentAgreeForm","ลา")
                            +navLink("addAgreeForm","เพิ่ม")
                            //- +navLink("summerAbsentForm","ลา/ชดเชยCR61MAR")
                        else
                            //- if(webUser.position!="tutor")
                            +navLink("adminAllStudent","All Student")
                            //- if(webUser.position=="tutor")
                                +navLink("adminAllCourse","My Course")
                            //- else
                                +navLink("adminAllCourse","All Course")
                            if(webUser.position!="tutor")
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#") CR|FHB|SK 
                                    .dropdown-menu(aria-labelledby="navbarDropdown")
                                        a.dropdown-item(href="/adminAllCourse") Course
                                        a.dropdown-item(href="/adminAllHybrid") FHB
                                        a.dropdown-item(href="/adminAllskill") Skill
                            //- +navLink("tutorCommentStudent","Comments")
                            //- +navLink("ratingStudentPage","Rating")
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#") Rating|Comment
                                .dropdown-menu(aria-labelledby="navbarDropdown")
                                    a.dropdown-item(href="/ratingStudentPage") Rating
                                    a.dropdown-item(href="/hybridComment") FHB Comment
                                    a.dropdown-item(href="/tutorCommentStudent") Comment
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#") CR 
                                .dropdown-menu(aria-labelledby="navbarDropdown")
                                    a.dropdown-item(href="/adminAllCourse") My Course
                                    a.dropdown-item(href="/tutorCourseMaterial") CR Material
                                    if(webUser.position!="tutor")
                                        a.dropdown-item(href="/adminCourseMaterial") CR Tracking
                            +navLink("adminStudentAttendanceModifier","ลา/เพิ่ม")
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#") Tutor Check
                                .dropdown-menu(aria-labelledby="navbarDropdown")
                                    a.dropdown-item(href="/tutorCheck") Check in/out
                                    a.dropdown-item(href="/tutorCheckInHistory") History
                                    a.dropdown-item(href="/tutorCheckInActivity") Activity
                                    if(webUser.position=="mel")
                                        a.dropdown-item(href="/checkInSummary") Manage
                            +navLink("tutorQrGenerator","QR Generator")
                            //- +navLink("adminCalendar","Calendar")
                            if(webUser.position!="tutor")
                                +navLink("adminCourseRoom","Room")
                                +navLink("workflow","Workflow")
                            //- +navLink("adminConference","Conference")
                            +navLink("studentCheck","StudentCheck")
                        if(webUser.position!="tutor")
                            +navLink("studentDocument","เอกสาร")
                    ul.navbar-nav
                        if(webUser.position=="student")
                            li.nav-item: a.nav-link(href="/studentProfile")
                                span.fas.fa-fw.fa-lg.fa-user-circle
                                =" "+webUser.firstname
                        else if(webUser.position=="admin")
                            li.nav-item: a.nav-link(href="/testAdmin")
                                span.fas.fa-fw.fa-lg.fa-user-circle
                                =" "+webUser.firstname
                        else if(webUser.position=="dev")
                            li.nav-item: a.nav-link(href="/testAdmin")
                                span.fas.fa-fw.fa-lg.fa-user-circle
                                =" "+webUser.firstname
                        else
                            li.nav-item: a.nav-link(href="/tutorEditProfile")
                                span.fas.fa-fw.fa-lg.fa-user-circle
                                =" "+webUser.firstname
                        li.nav-item: a.nav-link(href="/login")
                            span.fas.fa-fw.fa-sign-out-alt.fa-lg
                            |Logout
        block body
        if(!hideFooter)
            footer.footer
                .text-center.center-block
                    h4 Powered by MonkeyIT
                    p Copyright &copy; 2017 &middot; All Rights Reserved
        script(src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
        script(defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous")
        script(type="text/javascript" src="/js/global-1.0.0.custom.min.js")
        block script