- if(!webUser)webUser={userID:12345,position:"dev",firstname:"ชื่อจริง",lastname:"นามสกุล"}
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Athiti|Chonburi|Itim|Kanit|Maitree|Mitr|Oxygen|Pattaya|Pridi|Prompt|Sriracha|Taviraj|Trirong")
        link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/css/style.min.css")
        link(rel="stylesheet" href="/css/angular-material.min.css")
        link(rel="apple-touch-icon" sizes="57x57" href="/images/ios_icon57x57.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/images/ios_icon72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/images/ios_icon114x114.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/images/ios_icon144x144.png")
        script(src="/js/jquery-3.2.1.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/ui-bootstrap-2.5.0.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js")
        script(type="text/javascript" src="/js/global-1.0.0.custom.js")
        block head
        title= pageTitle?pageTitle:"Monkey-Monkey Official Website"
    body
        block header
        if(!hideNavbar)
            nav.navbar.navbar-inverse.navbar-fixed-top(style=removeNavbarBottomMargin?"margin-bottom:0px;":"")
                .container-fluid
                    .navbar-header
                        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        if(webUser.position=="student")
                            a.navbar-brand(href="home") Monkey
                        else
                            a.navbar-brand(href="adminHome") Monkey
                    #navbar.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            if(webUser.position=="student")
                                //- li: a(href="#" onClick="loadRegistrationPage()") ลงทะเบียน CR60Q4
                                //- li.dropdown
                                    a.dropdown-toggle(data-toggle="dropdown" href="#") อัปโหลดใบโอน 
                                        span.caret
                                    ul.dropdown-menu
                                        li: a(href="/registrationReceipt") CR60Q4
                                        //- li: a(href="/summerReceipt") CR60OCT
                                //- li.dropdown
                                    a.dropdown-toggle(data-toggle="dropdown" href="#") แบบฟอร์ม
                                        span.caret
                                    ul.dropdown-menu
                                        //- li: a(href="summerAbsentForm") ลาCR60OCT
                                        li: a(href="absentForm") ลา CR&FHB
                                        //- li: a(href="addForm") เพิ่ม FHB
                                -var startTime = new Date(1512558000000)
                                -var endTime = new Date(1512568800000)
                                -var nowTime = new Date()
                                if nowTime.getTime() > startTime.getTime() && nowTime.getTime() < endTime.getTime()
                                    li: a(href="#" onclick="loadRegistrationPage()") ลงทะเบียน
                                li: a(href="/absentForm") ลา CR&FHB
                                li: a(href="/addForm") เพิ่ม FHB
                                li: a(href="/permanentAdtendance") ลา/เพิ่มตลอดไป
                            else
                                if(webUser.position!="tutor")
                                    li: a(href="/adminAllStudent") All Student
                                if(webUser.position=="tutor")
                                    li: a(href="/adminAllCourse") My Course
                                else
                                    li: a(href="/adminAllCourse") All Course
                                li: a(href="/tutorCommentStudent") Comments
                                li.dropdown
                                    a.dropdown-toggle(data-toggle="dropdown" href="#") CR 
                                        span.caret
                                    ul.dropdown-menu
                                        li: a(href="/tutorCourseMaterial") CR Material
                                        if(webUser.position!="tutor")
                                            li: a(href="/adminCourseMaterial") CR Tracking
                                li: a(href="/adminStudentAttendanceModifier") ลา/เพิ่ม
                                li.dropdown
                                    a.dropdown-toggle(data-toggle="dropdown" href="#") Tutor Check
                                        span.caret
                                    ul.dropdown-menu
                                        li: a(href="/tutorCheck") Check in/out
                                        li: a(href="/tutorCheckInHistory") History
                                        li: a(href="/tutorCheckInActivity") Activity
                                        if(webUser.position=="mel")
                                            li: a(href="/checkInSummary") Manage
                                if(webUser.position!="tutor")
                                    li: a(href="/adminCourseRoom") Room
                                //- li: a(href="/adminConference") Conference
                                    //- li: a(href="/adminStudentAttendanceModifier") ลา/เพิ่ม
                            li: a(href="studentDocument") เอกสาร
                        ul.nav.navbar-nav.navbar-right
                            if(webUser.position=="student")
                                li: a(href="/studentProfile")
                                    span.glyphicon.glyphicon-user
                                    //- = " "+webUser.firstname+" "+webUser.lastname
                                    = " "+webUser.firstname
                            else if(webUser.position=="dev")
                                li: a(href="/testDev")
                                    span.glyphicon.glyphicon-user
                                    //- = " "+webUser.firstname+" "+webUser.lastname
                                    = " "+webUser.firstname
                            else
                                li: a(href="/tutorEditProfile")
                                    span.glyphicon.glyphicon-user
                                    //- = " "+webUser.firstname+" "+webUser.lastname
                                    = " "+webUser.firstname
                            li: a(href="/login")
                                span.glyphicon.glyphicon-log-out
                                |  Logout
            div(style="margin-top:70px")
        block body
        block footer
        if(!hideFooter)
            footer.footer
                .text-center.center-block
                    h4 Powered by MonkeyIT
                    p Copyright &copy; 2017 &middot; All Rights Reserved