extends oldHtmlTemplate
block head
    -const pageTitle = "Absent Form"
    link(rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css")
    script(src="js/bootstrap-datetimepicker.min.js")
    script(src="js/constRegisQuarter.js")
    script(src="js/permanentAdtendance.min.js")
    style.
        .btn-default, .btn-success{
            margin-bottom:25px;
        }
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
block body
    .jumbotron
        .container
            h2 แบบฟอร์มลา/เพิ่ม FHB ตลอดไป
    .container
        form
            .form-group
                label.control-label ประเภท:
                select.form-control#typeInput(type="text")
                    option(value=0) ลาตลอดไป
                    option(value=1) เพิ่มตลอดไป
        .form-group
            label.control-label ตั้งแต่วันที่:
            input.form-control#datePicker(type="text")
        .row
            .col-xs-12
                label รอบ:
        .row
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector.btn8 &nbsp;
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector.btn10 &nbsp;
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector.btn13 &nbsp;
            .col-xs-6.col-sm-3
                button.col-xs-12.btn.btn-default.selector.btn15 &nbsp;
        form
            .form-group
                label.control-label วิชา:(เฉพาะคนเพิ่ม)
                select.form-control#subjInput(type="text")
                    option(value="M") FHB:M
                    option(value="P") FHB:P
        form
            .form-group
                label ผู้แจ้ง:
                input.form-control#senderInput(type="text")
        .row
            .col-xs-3.col-xs-offset-9.col-sm-1.col-sm-offset-11
                button#submit.btn.btn-primary.col-xs-12.col-sm-12 ยืนยัน
        //- loader modal
        .modal.fade#loaderModal(role='dialog')
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        h3.modal-title Loading please wait...
                    .modal-body
                        .loader.center-block