extends oldHtmlTemplate
block head
    -const pageTitle = "Registration Skill"
    script(src="js/constRegisQuarter.js")
    script(src="js/regSkCal.js")
    style.
        .btn-default{
            background-color: white!important;
        }
        .course{
            color: black!important;
            background-color: rgba(250,253,197,1.00)!important;
            border: rgba(250,253,197,1.00)!important;
        }
        .hybrid{
            color: black!important;
            background-color: #FFC8EF!important;
            border:#FFC8EF!important;
        }
        .skill{
            color: black!important;
            background-color: #C4F5ED!important;
            border:#C4F5ED!important;
        }
block body
    mixin buttRow(time)
        td
            button.btn.btn-default.col-sm-6.col-xs-12.sat.disabled.M(name=time onClick="btntoggle(this)") Math
            button.btn.btn-default.col-sm-6.col-xs-12.sat.disabled.E(name=time onClick="btntoggle(this)") Eng
        td
            button.btn.btn-default.col-sm-6.col-xs-12.sun.disabled.M(name=time onClick="btntoggle(this)") Math
            button.btn.btn-default.col-sm-6.col-xs-12.sun.disabled.E(name=time onClick="btntoggle(this)") Eng
    .container
        .row
            .col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
                img.img-responsive(src="/images/SkillState.jpg")
        .row
            .col-xs-12
                label.control-label ข้อกำหนด:
                p 1. สำหรับนักเรียนที่เรียนสกิลจบแล้วสามารถข้ามหน้านี้ได้เลย
                p 2. การลงทะเบียนสกิลจะทำเฉพาะการเรียนที่สาขาสยามเท่านั้น
                p 3. สามารถลงเฉพาะเลขหรืออังกฤษได้ แต่ไม่สามารถลงเวลาทับกันได้
        .table-responsive
            table.table.table-bordered
                thead
                    tr
                        th.col-xs-2.text-center &nbsp;
                        th.col-xs-5.text-center SAT
                        th.col-xs-5.text-center SUN
                tbody
                    tr
                        td.text-center 8-10
                        +buttRow("8")
                    tr
                        td.text-center 10-12
                        +buttRow("10")
                    tr
                        td.text-center 13-15
                        +buttRow("13")
                    tr
                        td.text-center 15-17
                        +buttRow("15")
        .row
            .col-sm-2.col-xs-4
                button.btn.btn-default.col-xs-12(onClick="self.location = '/registrationHybrid'"): span.glyphicon.glyphicon-chevron-left ย้อนกลับ
            .col-sm-2.col-sm-offset-8.col-xs-4.col-xs-offset-4
                button.btn.btn-default.col-xs-12(onClick="next()") ต่อไป
                    span.glyphicon.glyphicon-chevron-right
    //- Modal for pick skill
    .modal.fade#timeSelect(role="dialog")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") &times;
                    h4.modal-title กรุณาเลือกเวลา
                .modal-body
                    .container-fluid
                        .row#time
                            button.btn.btn-default.col-sm-4.col-xs-12(type="button" data-dismiss="modal" onClick="addTime(this)") &nbsp;
                            button.btn.btn-default.col-sm-4.col-xs-12(type="button" data-dismiss="modal" onClick="addTime(this)") &nbsp;
                            button.btn.btn-default.col-sm-4.col-xs-12(type="button" data-dismiss="modal" onClick="addTime(this)") &nbsp;
                .modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") ปิด