extends htmlTemplate
block head
    -const pageTitle = "Upload CR60Q4 Receipt"
    link(href="css/component.css", rel="stylesheet")
    script(src="js/constRegisQuarter.js")
    script(src="js/regRc.min.js")
block body
    .container
        .row
            .col-sm-12.col-xs-12
                h2 รายละเอียดการโอนเงินคอร์ส CR60Q4
                h5(style="color:red") *โปรดอ่านขั้นตอนการโอนเงินอย่างละเอียด*
        .row
            .col-sm-4.col-xs-12
                img.img-responsive(src="images/scb.png")
            .col-sm-5.col-xs-12
                p.money.visible-xs(style="color:red"): strong ชำระเงินจำนวน xxxxx บาท
                p.money.hide-xs(style="font-size:1.5em;color:red") ชำระเงินจำนวน xxxxx บาท
                p.visible-xs: strong โดยสามารถชำระที่เคาน์เตอร์ธนาคาร, ATM, อินเตอร์เน็ตหรือมือถือเข้ามาที่เลข บช. ของธนาคารไทยพาณิชย์ตามรูปด้านบน ได้จากทุกธนาคาร พร้อมทั้งอัปโหลดรูปใบโอนที่ปุ่มด้านล่าง
                p.hide-xs(style="font-size:1.5em") โดยสามารถชำระที่เคาน์เตอร์ธนาคาร, ATM, อินเตอร์เน็ตหรือมือถือเข้ามาที่เลข บช. ของธนาคารไทยพาณิชย์ตามรูปทางซ้าย ได้จากทุกธนาคาร พร้อมทั้งอัปโหลดรูปใบโอนที่ปุ่มด้านล่าง
                br
                br
                .box(align="center")
                    input#file-1.inputfile.inputfile-1(
                        type="file"
                        name="file-1[]"
                        style="opacity: 0;height: 0;"
                        data-multiple-caption="{count} files selected"
                    )
                    label(for="file-1" style="width:150px; height:50px; font-size:1.5em")
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17")
                            path(d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z")
                        span เลือกรูป
            .col-sm-3.col-xs-12.text-center
                h4 Preview
                img.img-responsive#preview(src="images/nopic.png")
        .row
            br
            .col-sm-12.col-xs-12.text-right
                button#submit.btn.btn-primary(type="button") ยืนยัน 
                    span.glyphicon.glyphicon-chevron-right
    script(src="js/custom-file-input.js")