extends htmlTemplate
block head
    -const pageTitle = "Registration Course"
    script(src="js/constRegisQuarter.js")
    script(src="js/regCrCal.js")
    style.
        .btn-default{
            background-color: white!important;
        }
        .suggest {
            border-color: #FFE45A!important;
            box-shadow: 0 0 2px 2px #FFE45A!important;
        }
block body
    mixin buttRow(time)
        td
            button.btn.btn-default.col-sm-6.col-xs-12.sat.disabled(name=time onClick="btntoggle(this)") &nbsp;
            button.btn.btn-default.col-sm-6.col-xs-12.sat.disabled(name=time onClick="btntoggle(this)") &nbsp;
        td
            button.btn.btn-default.col-sm-6.col-xs-12.sun.disabled(name=time onClick="btntoggle(this)") &nbsp;
            button.btn.btn-default.col-sm-6.col-xs-12.sun.disabled(name=time onClick="btntoggle(this)") &nbsp;
    .container
        .row
            .col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
                img.img-responsive(src="/images/CrState.jpg")
        form.form-horizontal
            .form-group
                label.control-label.col-sm-1(for="name") ชื่อ:
                .col-sm-11
                    input#name.form-control(type="text" readonly)
            .form-group
                label.control-label.col-sm-1(for="grade") ชั้น:
                .col-sm-11
                    input#grade.form-control(type="text" readonly)
        .row
            .col-xs-12.text-center
                label(style="color:blue") ในการลงทะเบียนคอร์ส จะต้องลงอย่างน้อย2คอร์ส
        br
        .table-responsive
            table.table.table-bordered
                thead
                    tr
                        th.col-xs-2.text-center &nbsp;
                        th.col-xs-5.text-center SAT
                        th.col-xs-5.text-center SUN
                tbody
                    tr
                        td.text-center 8-10
                        +buttRow("8")
                    tr
                        td.text-center 10-12
                        +buttRow("10")
                    tr
                        td.text-center 13-15
                        +buttRow("13")
                    tr
                        td.text-center 15-17
                        +buttRow("15")
        form.form-horizontal
            .form-group
                label.control-label.col-sm-2(for="description") Description:
                .col-sm-10
                    p#description.control-label(style="text-align : left;")
        .row
            .col-xs-12.text-right
                h3#fee รวมเป็นเงิน 0 บาท
        .row
            .col-xs-12.text-right
                button.btn.btn-default(onClick="next()") ต่อไป
                    span.glyphicon.glyphicon-chevron-right