extends htmlTemplate
block head
    -const pageTitle = "Register"
    style.
        .cr {
            background-color: #FFE4F5!important;
            border-color: transparent!important;
        }
        .hb {
            background-color: #FFF8BA!important;
            border-color: transparent!important;
        }
        .sk {
            background-color: #D4EEF8!important;
            border-color: transparent!important;
        }
block script
    script(src="js/constRegisQuarter.js")
    script(src="js/regisPage.min.js")
mixin crSelectButt(value)
    button.col.col-md-6.btn.btn-light.cr-select.mb-1(class="btn"+value+"-1") -
    button.col.col-md-6.btn.btn-light.cr-select(class="btn"+value+"-2") -
mixin fhbSelectButt(value)
    button.col.btn.disabled.cr(class="cr"+value) -
    button.col.col-md-6.btn.btn-light.hb-select.mb-1(class="fhb"+value+"-1") FHB:M
    button.col.col-md-6.btn.btn-light.hb-select(class="fhb"+value+"-2") FHB:P
mixin skSelectButt(value)
    button.col.btn.disabled.cr(class="cr"+value) -
    button.col.btn.disabled.hb(class="fhb"+value) -
    button.col.col-md-6.btn.btn-light(class="skl"+value+"-1 sk-select") SKILL:M
    button.col.col-md-6.btn.btn-light(class="skl"+value+"-2 sk-select") SKILL:E
mixin submitButt(value)
    button.col.btn.disabled.cr(class="cr"+value) -
    button.col.btn.disabled.hb(class="fhb"+value) -
    button.col.btn.disabled.sk(class="sk"+value) -
block body
    .container-fluid
        .row.position-fixed.w-100(style="z-index:2")
            .progress.w-100(style="height:30px")
                .progress-bar.progress-bar-striped.progress-bar-animated#progressBar(style="width:30%") ลงทะเบียน Course
        .row(style="padding-top:30px")
            .card.w-100.mb-2
                .card-header
                    span.fa.fa-user
                    |&nbsp;ข้อมูลส่วนตัว
                .card-body
                    p#nameCard Name
                    p#gradeCard Grade
                    p#levelCard Level
        .row#crRegis-table
            .table-responsive
                table.table.table-bordered
                    thead.thead-light
                        tr
                            th &nbsp;
                            th.text-center SAT
                            th.text-center SUN
                    tbody
                        tr
                            td.text-center 8-10
                            td: +crSelectButt("6-8")
                            td: +crSelectButt("0-8")
                        tr
                            td.text-center 10-12
                            td: +crSelectButt("6-10")
                            td: +crSelectButt("0-10")
                        tr
                            td.text-center 13-15
                            td: +crSelectButt("6-13")
                            td: +crSelectButt("0-13")
                        tr
                            td.text-center 15-17
                            td: +crSelectButt("6-15")
                            td: +crSelectButt("0-15")
            .col
                .row
                    .col#crDescription
                        h5#descriptionTitle Description
        .row#fhbRegis-table
            .col-12    
                label.control-label ข้อกำหนด:
                p 1. สำหรับนักเรียนที่ไม่ต้องการเรียน Full Hybrid สามารถข้ามหน้านี้ได้เลย
                p 2. สำหรับนักเรียนที่ไม่ได้เปิดระบบ Full Hybrid จะต้องเปิดระบบก่อน โดยจะต้องเติมเงินเข้าไปในระบบเป็นจำนวน 10,000 บาท/วิชา
            .table-responsive
                table.table.table-bordered
                    thead.thead-light
                        tr
                            th &nbsp;
                            th.text-center TUE
                            th.text-center THU
                    tbody
                        tr
                            td.text-center 17-19
                            td: +fhbSelectButt("2-17")
                            td: +fhbSelectButt("4-17")
                    thead.thead-light
                        tr
                            th &nbsp;
                            th.text-center SAT
                            th.text-center SUN
                    tbody
                        tr
                            td.text-center 8-10
                            td: +fhbSelectButt("6-8")
                            td: +fhbSelectButt("0-8")
                        tr
                            td.text-center 10-12
                            td: +fhbSelectButt("6-10")
                            td: +fhbSelectButt("0-10")
                        tr
                            td.text-center 13-15
                            td: +fhbSelectButt("6-13")
                            td: +fhbSelectButt("0-13")
                        tr
                            td.text-center 15-17
                            td: +fhbSelectButt("6-15")
                            td: +fhbSelectButt("0-15")
        .row#skRegis
            .col-12
                label.control-label ข้อกำหนด:
                p 1. สำหรับนักเรียนที่เรียนสกิลจบแล้วสามารถกด Next ได้เลย
                p 2. การลงทะเบียนสกิลจะทำเฉพาะการเรียนที่สาขาสยามเท่านั้น
                p 3. กรณีที่เรียนสกิลที่สาย 3 กด Next ได้เลย
                p 4. สามารถลงเฉพาะเลขหรืออังกฤษได้ แต่ไม่สามารถลงเวลาทับกันได้
            .table-responsive
                table.table.table-bordered
                    thead.thead-light
                        tr
                            th(style="width:14%") &nbsp;
                            th.text-center(style="width:43%") SAT
                            th.text-center(style="width:43%") SUN
                    tbody
                        tr
                            td.text-center 8-10
                            td
                                +skSelectButt("6-8")
                            td
                                +skSelectButt("0-8")
                        tr
                            td.text-center 10-12
                            td
                                +skSelectButt("6-10")
                            td
                                +skSelectButt("0-10")
                        tr
                            td.text-center 13-15
                            td
                                +skSelectButt("6-13")
                            td
                                +skSelectButt("0-13")
                        tr
                            td.text-center 15-17
                            td
                                +skSelectButt("6-15")
                            td
                                +skSelectButt("0-15")
        .row#submit-table
            .col-12
                h4(style="color:red") ยืนยันการลงทะเบียนตามนี้
            .table-responsive
                table.table.table-bordered
                    thead.thead-light
                        tr
                            th &nbsp;
                            th.text-center TUE
                            th.text-center THU
                    tbody
                        tr
                            td.text-center 17-19
                            td: +submitButt("2-17")
                            td: +submitButt("4-17")
                    thead.thead-light
                        tr
                            th &nbsp;
                            th.text-center SAT
                            th.text-center SUN
                    tbody
                        tr
                            td.text-center 8-10
                            td: +submitButt("6-8")
                            td: +submitButt("0-8")
                        tr
                            td.text-center 10-12
                            td: +submitButt("6-10")
                            td: +submitButt("0-10")
                        tr
                            td.text-center 13-15
                            td: +submitButt("6-13")
                            td: +submitButt("0-13")
                        tr
                            td.text-center 15-17
                            td: +submitButt("6-15")
                            td: +submitButt("0-15")
        .row#crFeeBox
            .col
                h5.float-right#crFee รวมเป็นเงิน 0 บาท
        .row
            button.col-auto.mr-auto.ml-1.btn.btn-primary#backButt(type="button") Back
            button.col-auto.ml-auto.mr-1.btn.btn-primary#nextButt(type="button") Next
        //- Skill Modal
        .modal.fade#skillModal
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        h5 เลือกเวลา
                        button(type="button" class="close" data-dismiss="modal") &times;
                    .modal-body#skillTime
        //- Loading Modal
        .modal.fade#loadingModal
            .modal-dialog.modal-sm
                .modal-content
                    .modal-body
                        h5 Loding, Please wait...