extends htmlTemplate
block head
    -const pageTitle = "Student CheckI/O"
block script
    //- script(src="js/ratingStudent.min.js")
block body
    .container-fluid
        .row
            .col-12.col
