extends htmlTemplate
block head
    -const pageTitle = "Student Document"
    script(src="js/student.min.js")
block body
    .container-fluid
        .row
            .col-12
                h2
                    kbd
                        span.oi.oi-document
                        |Instruction
        .row
            .col-6
                img.rounded.img-fluid(src="images/blue1.jpg")
            .col-6
                img.rounded.img-fluid(src="images/blue2.jpg")