extends htmlTemplate
mixin tdButt(className)
    td: button.col-12.selector.btn.btn-light(class=className) &nbsp;
block head
    -const pageTitle = "Student Profile"
    link(href="css/component.css", rel="stylesheet")
    style.
        .cr {
            background-color: #FFE4F5!important;
            border-color: transparent!important;
        }
        .hb {
            background-color: #FFF8BA!important;
            border-color: transparent!important;
        }
        .sk {
            background-color: #D4EEF8!important;
            border-color: transparent!important;
        }
        .imageBox{
            position: relative;
            height: 300px;
            width: 300px;
            border:1px solid #aaa;
            background: #fff;
            overflow: hidden;
            background-repeat: no-repeat;
            cursor:move;
        }

        .imageBox .thumbBox{
            position: absolute;
            top: 0%;
            left: 12.5%;
            width: 225px;
            height: 300px;
            margin-top: 0px;
            margin-left: 0px;
            border: 1px solid rgb(102, 102, 102);
            box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
            background: none repeat scroll 0% 0% transparent;
        }

        .imageBox .spinner{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            line-height: 300px;
            background: rgba(0,0,0,0.7);
        }
block script
    script(src="js/cropbox-min.js")
    script(src="js/studentProfile.min.js")
block body
    .container-fluid
        .row
            .col-12.col-md-3
                form
                    .form-group
                        label
                            span.fas.fa-fw.fa-lg.fa-th-large &nbsp;
                            |Quarter
                        select.form-control#quarterSelect
        .row
            .col-4
                img.img-fluid.img-thumbnail#profileImg(src="images/nopic.png")
            .col-8
                #studentProfileContent
        .row
            .col-12.collapse#mainTable
                .table-responsive
                    table.table.table-bordered
                        thead.thead-dark
                            tr
                                th(width='20%') &nbsp;
                                th.text-center(width='40%') TUE
                                th.text-center(width='40%') THU
                        tbody
                            tr
                                td.text-center 17-19
                                +tdButt("btn2-17")
                                +tdButt("btn4-17")
                .table-responsive
                    table.table.table-bordered
                        thead.thead-dark
                            tr
                                th(width='20%') &nbsp;
                                th.text-center(width='40%') SAT
                                th.text-center(width='40%') SUN
                        tbody
                            tr
                                td.text-center 8-10
                                +tdButt("btn6-8")
                                +tdButt("btn0-8")
                            tr
                                td.text-center 10-12
                                +tdButt("btn6-10")
                                +tdButt("btn0-10")
                            tr
                                td.text-center 13-15
                                +tdButt("btn6-13")
                                +tdButt("btn0-13")
                            tr
                                td.text-center 15-17
                                +tdButt("btn6-15")
                                +tdButt("btn0-15")
            .col-12.collapse#summerTable
                .table-responsive
                    table.table.table-bordered
                        thead.thead-dark
                            tr
                                th &nbsp;
                                th.text-center CR
                        tbody
                            tr
                                td.text-center 8-10
                                +tdButt("btn1-8")
                            tr
                                td.text-center 10-12
                                +tdButt("btn1-10")
                            tr
                                td.text-center 13-15
                                +tdButt("btn1-13")
        //- Modal for Upload Pic
        #uploadPicModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Upload
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .row
                            .col-12
                                .custom-file
                                    input#uploadPic.custom-file-input(type="file")
                                    label.custom-file-label Choose picture
                            .col-12
                                .imageBox
                                    .thumbBox
                                    .spinner(style="display: none") Loading...
                            .col-12
                                //- button#btnCrop.btn.btn-primary.float-right Crop
                                button#btnZoomOut.btn.btn-primary.float-right: span.fa.fa-search-minus
                                button#btnZoomIn.btn.btn-primary.float-right: span.fa.fa-search-plus
                            .col-12
                                .cropped
                    .modal-footer
                        button.btn.btn-success#uploadPicButt(type="button") Upload
                        button#btnCrop.btn.btn-danger(type="button" data-dismiss="modal") Cancel