extends htmlTemplate
block head
    -const pageTitle = "Student Document"
    script(src="js/student.min.js")
block body
    .container
        h2: kbd Instruction
        img.img-rounded.col-sm-6.col-xs-12(src="images/blue1.jpg")
        img.img-rounded.col-sm-6.col-xs-12(src="images/blue2.jpg")