extends htmlTemplate
block head
    -const pageTitle = "Submit Registration"
    script(src="js/constRegisQuarter.js")
    script(src="js/submit.js")
    style.
        .btn-default{
            background-color: white!important;
        }
        .course{
            color: black!important;
            background-color: rgba(250,253,197,1.00)!important;
            border: rgba(250,253,197,1.00)!important;
        }
        .hybrid{
            color: black!important;
            background-color: #FFC8EF!important;
            border:#FFC8EF!important;
        }
        .skill{
            color: black!important;
            background-color: #C4F5ED!important;
            border:#C4F5ED!important;
        }
block body
    mixin buttRow(time)
        td
            button.btn.btn-default.col-sm-12.col-xs-12.sat.disabled.M(name=time onClick="btntoggle(this)") &nbsp;
        td
            button.btn.btn-default.col-sm-12.col-xs-12.sun.disabled.M(name=time onClick="btntoggle(this)") &nbsp;
    .container
        .row
            .col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
                img.img-responsive(src="/images/SubmitState.jpg")
        .row
            .col-sm-6.col-sm-offset-3.col-xs-12
                form.form-horizontal
                    .form-group
                        label.control-label.col-sm-4(style="color: red;text-decoration: underline;") การสอบประจำปี
                        .checkbox.col-sm-8
                            label
                                input#check(type="checkbox" value="0") 
                                |ยินดีเข้าร่วมประชุมผู้ปกครองและเข้าสอบประจำปี
                    .form-group(style="margin-right:1px; margin-left:1px")
                        input#reason.form-control(type="text" placeholder="เหตุผลที่ไม่เข้าร่วมการสอบ")
        .table-responsive
            table.table.table-bordered
                thead
                    tr
                        th.col-xs-2.text-center &nbsp;
                        th.col-xs-5.text-center TUE
                        th.col-xs-5.text-center THU
                tbody
                    tr
                        td.text-center 17-19
                        td
                            button.btn.btn-default.col-sm-12.col-xs-12.tue.disabled.M(name="17" onClick="btntoggle(this)") &nbsp;
                        td
                            button.btn.btn-default.col-sm-12.col-xs-12.thu.disabled.M(name="17" onClick="btntoggle(this)") &nbsp;
        .table-responsive
            table.table.table-bordered
                thead
                    tr
                        th.col-xs-2.text-center &nbsp;
                        th.col-xs-5.text-center SAT
                        th.col-xs-5.text-center SUN
                tbody
                    tr
                        td.text-center 8-10
                        +buttRow("8")
                    tr
                        td.text-center 10-12
                        +buttRow("10")
                    tr
                        td.text-center 13-15
                        +buttRow("13")
                    tr
                        td.text-center 15-17
                        +buttRow("15")
        .row
            .col-xs-12.text-right
                h4#fee(style="color: red")
        .row
            .col-sm-2.col-xs-4
                button.btn.btn-default.col-xs-12(onClick="self.location = '/registrationSkill'"): span.glyphicon.glyphicon-chevron-left ย้อนกลับ
            .col-sm-2.col-sm-offset-8.col-xs-4.col-xs-offset-4
                button.btn.btn-primary.col-xs-12(onClick="$('#submit').modal()") ยืนยัน
    .modal.fade#submit(role="dialog")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") &times;
                    h2.modal-title ยืนยันความถูกต้อง
                .modal-body
                    h4(style="color:red") หลังจาก Confirm แล้วจะย้ายไปที่หน้าอัพโหลดใบโอนค่าคอร์สและจะไม่สามารถกลับมาแก้ไขได้อีก
                .modal-footer
                    button.btn.btn-success(type="button" data-dismiss="modal" onClick="confirm()") ยืนยัน
                    button.btn.btn-default(type="button" data-dismiss="modal") ปิด