html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        link(rel="apple-touch-icon" sizes="57x57" href="/images/ios_icon57x57.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/images/ios_icon72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/images/ios_icon114x114.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/images/ios_icon144x144.png")
        title= "Test page"
    body
        .container-fluid
            .row
                .col-12.bg-warning
                    h1.text-center This page for run dev test method only.
            .row
                .col-12
                    h3 Migrate course to new server
                .col-4
                    .form-group
                        label URL
                        input#crUrl.form-control(type='text' placeholder="192.x.x.x:xxxx")
                .col-4
                    .form-group
                        label Year
                        input#crYear.form-control(type='number' placeholder="2018")
                .col-4
                    .form-group
                        label Quarter
                        input#crQuarter.form-control(type='number' placeholder="3")
                .col-12
                    button#crSubmit.btn.btn-primary.float-right Send
                hr
        script(src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
        script(defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous")
        script(type="text/javascript" src="/js/global-1.0.0.custom.min.js")
        script(src="js/test.js")