doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Athiti|Chonburi|Itim|Kanit|Maitree|Mitr|Oxygen|Pattaya|Pridi|Prompt|Sriracha|Taviraj|Trirong")
        link(rel="apple-touch-icon" sizes="57x57" href="/images/ios_icon57x57.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/images/ios_icon72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/images/ios_icon114x114.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/images/ios_icon144x144.png")
        script(src="/js/jquery-3.2.1.min.js")
        script(src="/js/socket.io.js" type="text/javascript")
        script(scr="/js/test.js")
        block head
        title= pageTitle?pageTitle:"Monkey-Monkey Official Website"
    body
        h1 Hello