extends oldHtmlTemplate
block head
    - var pageTitle="Test Dev"
    script(src="/js/sha3.js")
    script(src="/js/testDev.js")
block body
    include generalTemplate
    include inputTemplate
    mixin optionalQuarter
        +form-group("year"): +input-number("year")
        +form-group("quarter"): +input-text("quarter")
    mixin form-horizontal-title(name)
        +form-horizontal(name)
            +form-title(name)
            block
    mixin input-checkbox-inline(name,value,description)
        .col-sm-1
            label.checkbox-inline
                input(type="checkbox" name=name value=value)&attributes(attributes)
                = description
    mixin submit(name)
        .form-group
            .col-sm-offset-2.col-sm-10
                +button-submit= name
    mixin select-course(name)
        +select(name)&attributes(attributes)
            - for(var i in course)
                +option(course[i].courseID,course[i].courseName+" : "+course[i].tutorNicknameEn+" ("+moment(course[i].day).format("dddHH")+")")
    mixin select-tutor(name)
        +select(name).input-int&attributes(attributes)
            - for(var i in tutor)
                +option(tutor[i]._id,"#"+tutor[i]._id+" : "+tutor[i].firstnameEn+" ("+tutor[i].nicknameEn+") "+tutor[i].lastnameEn)
    mixin input-grade-checkbox
        +input-checkbox-inline("grade",1,"P1")&attributes(attributes)
        +input-checkbox-inline("grade",2,"P2")&attributes(attributes)
        +input-checkbox-inline("grade",3,"P3")&attributes(attributes)
        +input-checkbox-inline("grade",4,"P4")&attributes(attributes)
        +input-checkbox-inline("grade",5,"P5")&attributes(attributes)
        +input-checkbox-inline("grade",6,"P6")&attributes(attributes)
        +input-checkbox-inline("grade",7,"S1")&attributes(attributes)
        +input-checkbox-inline("grade",8,"S2")&attributes(attributes)
        +input-checkbox-inline("grade",9,"S3")&attributes(attributes)
        +input-checkbox-inline("grade",10,"S4")&attributes(attributes)
        +input-checkbox-inline("grade",11,"S5")&attributes(attributes)
        +input-checkbox-inline("grade",12,"S6")&attributes(attributes)
    .container
        .panel-group
            +panel("List User")#listUser
            +panel("List Course")#listCourse
            +panel("List Full Hybrid")#listFullHybrid
            +panel("List Course Suggestion")#listCourseSuggestion
            +panel("List Quarter")#listQuarter
    #message.container
    .container
        .panel-group
            +panel-list-group("User Information")
                +list-group-item
                    +form-horizontal-title("post/password")
                        +form-group("userID"): +input-number("userID")(required)
                        +form-group("password"): +input-password("password")(required)
                        +submit("post/password")
                +list-group-item
                    +form-horizontal-title("post/name")
                        +form-group("userID"): +input-number("userID")(required)
                        +submit("post/name")
                +list-group-item
                    +form-horizontal-title("post/position")
                        +form-group("userID"): +input-number("userID")(required)
                        +submit("post/position")
                +list-group-item
                    +form-horizontal-title("post/status")
                        +form-group("userID"): +input-number("userID")(required)
                        +submit("post/status")
                +list-group-item
                    +form-horizontal-title("post/changeStatus")
                        +form-group("userID"): +input-number("userID")(required)
                        +form-group("status"): +select-status()(required)
                        +submit("post/changeStatus")
            +panel-list-group("Student Information")
                +list-group-item
                    +form-horizontal-title("post/allStudent")
                        +submit("post/allStudent")
                +list-group-item
                    +form-horizontal-title("post/studentProfile")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +submit("post/studentProfile")
                +list-group-item
                    +form-horizontal-title("post/registrationState")
                        +optionalQuarter
                        +form-group("studentID"): +input-number("studentID")(required)
                        +submit("post/registrationState")
                +list-group-item
                    +form-horizontal-title("post/changeRegistrationState")
                        +optionalQuarter
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("registrationState"): +select-registration-state()(required)
                        +submit("post/changeRegistrationState")
            +panel-list-group("Student Timetable")
                +list-group-item
                    .loader.center-block
                    +form-horizontal-title("post/addStudentCourse")
                        +form-group("studentID"): +input-number("studentID")(required)
                        //-TODO array
                        +form-group("courseID"): +select-course("courseID").input-array(required)
                        +submit("post/addStudentCourse")
                +list-group-item
                    .loader.center-block
                    +form-horizontal-title("post/removeStudentCourse")
                        +form-group("studentID"): +input-number("studentID")(required)
                        //-TODO array
                        +form-group("courseID"): +select-course("courseID").input-array(required)
                        +submit("post/removeStudentCourse")
                +list-group-item
                    +form-horizontal-title("post/addSkillDay")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("subject"): +select-skill-subject()(required)
                        +form-group("day(day)"): +select-skill-day()(required)
                        +form-group("day(time)"): +select-skill-time()(required)
                        +submit("post/addSkillDay")
                +list-group-item
                    +form-horizontal-title("post/removeSkillDay")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("day(day)"): +select-skill-day()(required)
                        +form-group("day(time)"): +select-skill-time()(required)
                        +submit("post/removeSkillDay")
                +list-group-item
                    +form-horizontal-title("post/addHybridDay")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("subject"): +select-hybrid-subject()(required)
                        +form-group("day"): +select-hybrid-day()(required)
                        +submit("post/addHybridDay")
                +list-group-item
                    +form-horizontal-title("post/removeHybridDay")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("day"): +select-hybrid-day()(required)
                        +submit("post/removeHybridDay")
            +panel-list-group("User Management")
                +list-group-item
                    +form-horizontal-title("post/addStudent")
                        +form-group("password"): +input-password("password")(required)
                        +form-group("firstname"): +input-text("firstname")(required)
                        +form-group("lastname"): +input-text("lastname")(required)
                        +form-group("nickname"): +input-text("nickname")(required)
                        +form-group("firstnameEn"): +input-text("firstnameEn")(required)
                        +form-group("lastnameEn"): +input-text("lastnameEn")(required)
                        +form-group("nicknameEn"): +input-text("nicknameEn")(required)
                        +form-group("email"): +input-email("email")(required)
                        +form-group("phone"): +input-text("phone")(required)
                        +form-group("grade"): +select-grade()(required)
                        +form-group("phoneParent"): +input-text("phoneParent")(required)
                        +submit("post/addStudent")
                +list-group-item
                    +form-horizontal-title("post/removeStudent")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +submit("post/removeStudent")
                +list-group-item
                    +form-horizontal-title("post/editStudent")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("password"): +input-password("password")
                        +form-group("firstname"): +input-text("firstname")
                        +form-group("lastname"): +input-text("lastname")
                        +form-group("nickname"): +input-text("nickname")
                        +form-group("firstnameEn"): +input-text("firstnameEn")
                        +form-group("lastnameEn"): +input-text("lastnameEn")
                        +form-group("nicknameEn"): +input-text("nicknameEn")
                        +form-group("email"): +input-email("email")
                        +form-group("phone"): +input-text("phone")
                        +form-group("grade"): +select-grade()
                        +form-group("phoneParent"): +input-text("phoneParent")
                        +submit("post/editStudent")
                +list-group-item
                    +form-horizontal-title("post/addTutor")
                        +form-group("password"): +input-password("password")(required)
                        +form-group("firstname"): +input-text("firstname")(required)
                        +form-group("lastname"): +input-text("lastname")(required)
                        +form-group("nickname"): +input-text("nickname")(required)
                        +form-group("firstnameEn"): +input-text("firstnameEn")(required)
                        +form-group("lastnameEn"): +input-text("lastnameEn")(required)
                        +form-group("nicknameEn"): +input-text("nicknameEn")(required)
                        +form-group("email"): +input-email("email")(required)
                        +form-group("phone"): +input-text("phone")(required)
                        +submit("post/addTutor")
                +list-group-item
                    +form-horizontal-title("post/removeTutor")
                        +form-group("tutorID"): +select-tutor("tutorID")(required)
                        +submit("post/removeTutor")
                +list-group-item
                    +form-horizontal-title("post/editTutor")
                        +form-group("tutorID"): +select-tutor("tutorID")(required)
                        +form-group("password"): +input-password("password")
                        +form-group("firstname"): +input-text("firstname")
                        +form-group("lastname"): +input-text("lastname")
                        +form-group("nickname"): +input-text("nickname")
                        +form-group("firstnameEn"): +input-text("firstnameEn")
                        +form-group("lastnameEn"): +input-text("lastnameEn")
                        +form-group("nicknameEn"): +input-text("nicknameEn")
                        +form-group("email"): +input-email("email")
                        +form-group("phone"): +input-text("phone")
                        +submit("post/editTutor")
                +list-group-item
                    +form-horizontal-title("post/addBlankStudent")
                        +form-group("number"): +input-number("number")(required)
                        +submit("post/addBlankStudent")
                +list-group-item
                    +form-horizontal-title("post/listRandomStudent")
                        +submit("post/listRandomStudent")
                +list-group-item
                    +form-horizontal-title("post/changePosition")
                        +form-group("tutorID"): +select-tutor("tutorID")(required)
                        +form-group("position"): +select-position()(required)
                        +submit("post/changePosition")
            +panel-list-group("Course")
                +list-group-item
                    +form-horizontal-title("post/allCourse")
                        +optionalQuarter
                        +submit("post/allCourse")
                +list-group-item
                    +form-horizontal-title("post/gradeCourse")
                        +optionalQuarter
                        +form-group("grade"): +select-grade()(required)
                        +submit("post/gradeCourse")
                +list-group-item
                    +form-horizontal-title("post/courseInfo")
                        +form-group("courseID"): +select-course("courseID")(required)
                        +submit("post/courseInfo")
                +list-group-item
                    +form-horizontal-title("post/listCourseSuggestion")
                        +optionalQuarter
                        +form-group("grade"): +select-grade()(required)
                        +submit("post/listCourseSuggestion")
                +list-group-item
                    .loader.center-block
                    +form-horizontal-title("post/addCourseSuggestion")
                        +optionalQuarter
                        +form-group("grade"): +select-grade()(required)
                        +form-group("level"): +input-text("level")(required)
                        //-TODO array
                        +form-group("courseID"): +select-course("courseID").input-array(required)
                        +submit("post/addCourseSuggestion")
                +list-group-item
                    .loader.center-block
                    +form-horizontal-title("post/removeCourseSuggestion")
                        +optionalQuarter
                        +form-group("grade"): +select-grade()(required)
                        +form-group("level"): +input-text("level")(required)
                        //-TODO array
                        +form-group("courseID"): +select-course("courseID").input-array(required)
                        +submit("post/removeCourseSuggestion")
                +list-group-item
                    .loader.center-block
                    +form-horizontal-title("post/addCourse")
                        +optionalQuarter
                        +form-group("subject"): +select-course-subject()(required)
                        +form-group("grade"): +input-grade-checkbox().input-array.input-int
                        +form-group("level"): +input-text("level")(required)
                        +form-group("day"): +select-course-day()(required)
                        //-TODO array
                        +form-group("tutor"): +select-tutor("tutor").input-array(required)
                        +form-group("description"): +input-text("description")(required)
                        +form-group("room"): +select-room("room")(required)
                        +submit("post/addCourse")
                +list-group-item
                    +form-horizontal-title("post/removeCourse")
                        +form-group("courseID"): +select-course("courseID")(required)
                        +submit("post/removeCourse")
                +list-group-item
                    .loader.center-block
                    +form-horizontal-title("post/editCourse")
                        +form-group("courseID"): +select-course("courseID")(required)
                        +form-group("grade"): +select-course-subject()
                        +form-group("grade"): +input-grade-checkbox().input-array.input-int
                        +form-group("level"): +input-text("level")
                        +form-group("day"): +select-course-day()
                        //-TODO array
                        +form-group("tutor"): +select-tutor("tutor").input-array
                        +form-group("description"): +input-text("description")
                        +form-group("room"): +select-room("room")
                        +submit("post/editCourse")
            +panel-list-group("Room Management")
                +list-group-item
                    +form-horizontal-title("post/roomInfo")
                        +optionalQuarter
                        +form-group("day"): +select-course-day()(required)
                        +submit("post/roomInfo")
            +panel-list-group("File Uploading")
                +list-group-item
                    .loader.center-block
                    //- +form-horizontal-title("post/submitReceipt")
                        +submit("post/submitReceipt")
            +panel-list-group("Assessment")
                +list-group-item
                    .loader.center-block
                    +form-horizontal-title("post/addStudentComment")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("tutorID"): +select-tutor("tutorID")(required)
                        +form-group("message"): +input-text("message")(required)
                        +form-group("priority"): +input-number("priority")
                        +submit("post/addStudentComment")
                +list-group-item
                    +form-horizontal-title("post/removeStudentComment")
                        +form-group("commentID"): +input-text("commentID")(required)
                        +submit("post/removeStudentComment")
                +list-group-item
                    +form-horizontal-title("post/changeStudentCommentPriority")
                        +form-group("commentID"): +input-text("commentID")(required)
                        +form-group("priority"): +input-number("priority")(required)
                        +submit("post/changeStudentCommentPriority")
                +list-group-item
                    +form-horizontal-title("post/listStudentCommentByStudent")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("limit"): +input-number("limit")
                        +submit("post/listStudentCommentByStudent")
                +list-group-item
                    +form-horizontal-title("post/listStudentCommentByTime")
                        +form-group("start"): +input-number("start")(required)
                        +form-group("end"): +input-number("end")(required)
                        +submit("post/listStudentCommentByTime")
                +list-group-item
                    +form-horizontal-title("post/listStudentCommentByIndex")
                        +form-group("start"): +input-number("start")(required)
                        +form-group("limit"): +input-number("limit")(required)
                        +submit("post/listStudentCommentByIndex")
                +list-group-item
                    +form-horizontal-title("post/clearStudentComment")
                        +form-group("commentID"): +input-text("commentID")(required)
                        +form-group("isCleared"): +input-checkbox-inline("isCleared",1,"isCleared")
                        +submit("post/clearStudentComment")
            +panel-list-group("Student Attendance")
                +list-group-item
                    +form-horizontal-title("post/addStudentAbsenceModifier")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("day"): +input-number("day").input-array(required)
                        +form-group("reason"): +input-text("reason")(required)
                        +form-group("sender"): +input-text("sender")(required)
                        +submit("post/addStudentAbsenceModifier")
                +list-group-item
                    +form-horizontal-title("post/addStudentPresenceModifier")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("day"): +input-number("day")(required)
                        +form-group("subject"): +input-text("subject")(required)
                        +form-group("sender"): +input-text("sender")(required)
                        +submit("post/addStudentPresenceModifier")
                +list-group-item
                    +form-horizontal-title("post/removeStudentAttendanceModifier")
                        +form-group("modifierID"): +input-text("modifierID")(required)
                        +submit("post/removeStudentAttendanceModifier")
                +list-group-item
                    +form-horizontal-title("post/listStudentAttendanceModifierByDay")
                        +form-group("day"): +input-number("day")(required)
                        +submit("post/listStudentAttendanceModifierByDay")
                +list-group-item
                    +form-horizontal-title("post/listStudentAttendanceModifierByStudent")
                        +form-group("studentID"): +input-number("studentID")(required)
                        +form-group("start"): +input-number("start")(required)
                        +submit("post/listStudentAttendanceModifierByStudent")
            +panel-list-group("Configuration")
                +list-group-item
                    +form-horizontal-title("post/getConfig")
                        +submit("post/getConfig")
                +list-group-item
                    +form-horizontal-title("post/editConfig")
                        +form-group("defaultQuarterYear"): +input-number("defaultQuarterYear")(required)
                        +form-group("defaultQuarterQuarter"): +input-number("defaultQuarterQuarter")(required)
                        +form-group("defaultSummerYear"): +input-number("defaultSummerYear")
                        +form-group("defaultSummerQuarter"): +input-number("defaultSummerQuarter")
                        +form-group("courseMaterialPath")
                            +input-text("courseMaterialPath")(required)
                            span.help-block ex. //[PATH]/courseMaterial (+/CRXXQX)
                        +form-group("receiptPath")
                            +input-text("receiptPath")(required)
                            span.help-block ex. D:/[PATH]/MonkeyWebData/receipt (+/CRXXQX)
                        +form-group("nextStudentID"): +input-number("nextStudentID")(required)
                        +form-group("nextTutorID"): +input-number("nextTutorID")(required)
                        +form-group("profilePicturePath")
                            +input-text("profilePicturePath")(required)
                            span.help-block ex. D:/[PATH]/MonkeyWebData/profilePicture (+/15XXX.jpg)
                        +form-group("studentSlideshowPath")
                            +input-text("studentSlideshowPath")(required)
                            span.help-block ex. D:/[PATH]/MonkeyWebData/studentSlideshow (+/1.png)
                        +form-group("studentCommentPicturePath")
                            +input-text("studentCommentPicturePath")(required)
                            span.help-block ex. D:/[PATH]/MonkeyWebData/studentCommentPicture (+/CommentID.jpg)
                        +form-group("documentPath")
                            +input-text("documentPath")(required)
                            span.help-block ex. D:/[PATH]/MonkeyWebData/document (+/file.*)
                        //- +form-group("maxSeat (Hybrid)"): +input-number("maxSeat","Max Hybrid Seat").input-array(required)
                        //- +form-group("maxSeat (Room 1)"): +input-number("maxSeat","Max Room 1 Seat").input-array(required)
                        //- +form-group("maxSeat (Room 2)"): +input-number("maxSeat","Max Room 2 Seat").input-array(required)
                        //- +form-group("maxSeat (Room 3)"): +input-number("maxSeat","Max Room 3 Seat").input-array(required)
                        //- +form-group("maxSeat (Room 4)"): +input-number("maxSeat","Max Room 4 Seat").input-array(required)
                        //- +form-group("maxSeat (Room 5)"): +input-number("maxSeat","Max Room 5 Seat").input-array(required)
                        +submit("post/editConfig")
                +list-group-item
                    +form-horizontal-title("post/addStudentGrade")
                        +form-group("toAdd"): +input-number("toAdd")(required)
                        +submit("post/addStudentGrade")
                +list-group-item
                    .loader.center-block
                    +form-horizontal-title("post/addQuarter")
                        +form-group("year"): +input-number("year")(required)
                        +form-group("quarter"): +input-number("quarter")(required)
                        +form-group("name"): +input-text("name")(required)
                        +form-group("status"): +input-text("status")(required)
                        //- Room & Week
                        +submit("post/addQuarter")
                +list-group-item
                    +form-horizontal-title("post/listQuarter")
                        +form-group("status"): +input-text("status")(required)
                        +submit("post/listQuarter")
