extends htmlTemplate
block head
		-const pageTitle = "Tutor QR Generator"
block script
		script(src="js/qrcode.js")
		script(src="js/jquery.qrcode.js")
		script(src="js/qrGenerator.js")
block body
	.container-fluid
		form.form-inline
			.form-group.col-1
				label Subject
				select.form-control
					option MK
					option MJ
					option MH
					option PJ
					option PH
					option CH
					option EJ
					option EH
			.form-group.col-1
				label Level
				select.form-control
					option(value = "A") A
					option(value = "B") B
					option(value = "C") C
					option(value = "D") D
					option(value = "E") E
					option(value = "F") F
					option(value = "G") G
					option(value = "H") H
					option(value = "I") I
					option(value = "J") J
					option(value = "K") K
					option(value = "L") L
					option(value = "M") M
					option(value = "N") N
					option(value = "O") O
					option(value = "P") P
					option(value = "Q") Q
					option(value = "R") R
					option(value = "S") S
					option(value = "T") T
					option(value = "U") U
					option(value = "V") V
					option(value = "W") W
					option(value = "XC") XC
					option(value = "XCA") XCA
					option(value = "XC") XC
					option(value = "XC") XC
					option(value = "XC") XC
					option(value = "XC") XC
					option(value = "XC") XC
					option(value = "XC") XC
					option(value = "XC") XC
					option(value = "XC") XC
					option(value = "XC") XC
					option(value = "XC") XC
					option(value = "XC") XC
					option(value = "XC") XC
		div#qrcode