extends htmlTemplate
block head
    -const pageTitle = "Comments"
    script(src="js/bootstrap3-typeahead.min.js")
    script(src="js/tutorCommentStudent.js")
    style.
        #commentList p{
            margin-bottom:20px;
            white-space:pre-line;
        }
        #commentList ul{
            margin-left:120px;
        }
block body
    .container
        .page-header
            h2 Comments
            p Add comments on students.
        #search-box
            input.typeahead(type="text" placeholder="Name of Student")
        br
        form
            .form-group
                label(for="comment") Comment:
                textarea.form-control#comment(rows="5")
        button#postButton.btn.btn-default.col-sm-1.col-sm-offset-11.col-xs-3.col-xs-offset-9 SUBMIT
    .container
        hr
        h2(style="margin-bottom:30px") Recent comments
        #commentList
        ul.pager(style='margin:0')
            //- li.previous: a First
            li.previous: a(onClick="commPosition(0)"): span.glyphicon.glyphicon-menu-left Previous
            //- li.next: a Last
            li.next: a(onClick="commPosition(1)") Next
                span.glyphicon.glyphicon-menu-right
    div.text-center(style='margin:0')
        ul.pagination(style='margin:0')