extends htmlTemplate
block head
    -const pageTitle = "Edit Profile"
block script
    script(src="/js/sha3.js")
    script(src="js/tutorEditProfile.js")
block body
    .jumbotron.jumbotron-fluid
        .container
            h1 Edit Profile
            p Input and submit to edit profile
    .container
        .input-group.mb-3
            .input-group-prepend
                span.input-group-text
                    span.fa.fa-envelope
                    |&nbsp;E-mail
            input#tutorEmail.form-control(type="text" placeholder="example@monkey.com")
            .input-group-append
                button#editEmail.btn.btn-success(type="submit") Edit
        .input-group
            .input-group-prepend
                span.input-group-text
                    span.fa.fa-lock
                    |&nbsp;Password
            input#tutorPwd.form-control(type="text" placeholder="********")
            .input-group-append
                button#editPwd.btn.btn-success(type="submit") Edit
