extends htmlTemplate
block head
    -const pageTitle = "Check I/O history"
    style.
        .Hybrid{
            background-color:#F06292;
            color:white;
        }
        .Admin{
            background-color:#afb42b;
            color:white;
        }
        .Sheet{
            background-color:#FFC107;
            color:white;
        }
        .Com{
            background-color:#4DD0E1;
            color:white;
        }
        .Reading{
            background-color:#A1887F;
            color:white;
        }
        .Course{
            background-color:#FF8F00;
            color:white;
        }
block script
    script(src="js/tutorCheckInHistory.min.js")
block body
    .container-fluid
        h3: kbd Check in/out history
        .row
            .col-12.col-md-3
                .form-group
                    labal(for="intervalSelect")
                        span.fa.fa-calendar-o
                        |Interval
                    select.form-control#intervalSelect
        .table-responsive
            table.table.table-hover.table-bordered
                thead.thead-dark
                    tr
                        th.text-center Date
                        th.text-center Check In
                        th.text-center Check Out
                        th.text-center Detail
                tbody#tableBody