extends htmlTemplate
block head
    -const pageTitle = "Check I/O Activity"
block script
    script(src="js/tutorCheckInActivity.min.js")
block body
    .container-fluid
        h3: kbd Check in/out activity
        .table-responsive
            table.table.table-hover.table-bordered
                thead.thead-dark
                    tr
                        th.text-center Name
                        th.text-center Date
                        th.text-center Check In
                        th.text-center Check Out
                tbody#tableBody