extends htmlTemplate
block head
		-const pageTitle = "Tutor QR Generator"
block script
		script(src="js/qrGenerator.min.js")
block body
	.container
		.row
			.col-12.col-md-2
				-var list1 = ["M","P","C","E"]
				-var list2 = ["K","J","H"]
				.form-group
					label Sheet:
					select#subjSelect.form-control
						each i in list1
							each j in list2
								option(val=i+j)= i+j
			.col-12.col-md-2
				.form-group
					label.form-label &nbsp;
					select#seriesSelect.form-control
						-for(var i = 65; i<88; i++)
							option(value = String.fromCharCode(i))= String.fromCharCode(i)
						option(value = "XC") XC
						option(value = "XCA") XCA
						option(value = "XCN") XCN
						option(value = "XDE") XDE
						option(value = "XEL") XEL
						option(value = "XF") XF
						option(value = "XG") XG
						option(value = "XL") XL
						option(value = "XM") XM
						option(value = "XN") XN
						option(value = "XO") XO
						option(value = "XP") XP
						option(value = "XPS") XPS
						option(value = "XR") XR
						option(value = "XS") XS
						option(value = "XSS") XSS
						option(value = "XST") XST
						option(value = "XT") XT
						option(value = "XV") XV
						option(value = "MK") MK
						option(value = "MS") MS
						option(value = "MD") MD
			.col-12.col-md-2
				.form-group
					label.form-label &nbsp;
					select#difficultSelect.form-control
						option(value = "B") B
						option(value = "I") I
						option(value = "E") E
						option(value = "P") P
						option(value = "A") A
						option(value = "T") T
						option(value = "C") C
						option(value = "F") F
			.col-12.col-md-2
				.form-group
					label.form-label &nbsp;
					select#sheetNumSelect.form-control
						-for(var i = 1; i<31; i++)	
							option(value = i)= i
			.col-12.col-md-2
				.form-group
					label.form-label &nbsp;
					select#subSeriesSelect.form-control
						option(value = "") -
						-for(var i = 97; i<103; i++)
							option(value = String.fromCharCode(i))= String.fromCharCode(i)
						-for(var i = 1; i<21; i++)	
							option(value = "r"+i)= "r"+i
			.col-12.col-md-2
				.form-group
					label rev:
					select#revInput.form-control
						-for(var i=1; i<5; i++)
							-for(var j=0; j<4; j++)
								option(value=i+"_"+j)= i + "_" + j
		.row
			.col-8.col-md-3.ml-auto
				.form-group
					input#previewInput.form-control(disabled type="text")
			.col-4.col-md-2
				button#generateButt.col.btn.btn-success Generate
		.row
			.col-12.col-md-6
				.row
					.col-12.text-center#hotLabel: p Hotkey
					.col-12.text-center#hotQR
			.col-12.col-md-6
				.row
					.col-12.text-center#hwLabel: p HWkey
					.col-12.text-center#hwQR
			.col-12.col-md-6
				.row
					.col-12.text-center#skLabel: p Skillkey
					.col-12.text-center#skQR
			.col-12.col-md-6
				.row
					.col-12.text-center#testLabel: p Testkey
					.col-12.text-center#testQR
		.row
			.col-12.col-md-2.mx-auto
				button.col.btn.btn-primary#DownloadAllButt
					span.fa.fa-download.fa-lg
					|&nbsp;Dowload all