extends htmlTemplate
block head
    -const pageTitle = "Student video"
block script
    script(type="text/javascript" src="js/sha3.js")
    script(type="text/javascript" src="js/video.js")
block body
    .container