<mat-drawer-container class="example-container">
  <mat-drawer class="classSidenav" [(mode)]="mode" [(opened)]="open">
    <mat-form-field class="formFilter">
      <input matInput placeholder="Search(space for multiple keys)" [(ngModel)]="searchString" (ngModelChange)="onSearch($event)">
    </mat-form-field>
    <mat-form-field class="formFilter">
      <mat-select placeholder="Quarter">
        <mat-option *ngFor="let option of Quarter" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="formFilter">
      <mat-select placeholder="Sort by" [(ngModel)]="filter" (ngModelChange)="filterChange($event)">
        <mat-option *ngFor="let option of filters" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-drawer>
  <mat-drawer-content>
    <div align="center">
      <div class="classContainer">
        <div align="left" *ngIf="isMobile">
          <button mat-fab style="bottom: 5%; z-index: 2; position: fixed; right: 5%;" (click)="open = !open;">
            <i style="font-size: 200%;" class="fab fa-stack-overflow"></i>
          </button>
        </div>
        <div class="classCard" *ngFor="let class of classes" [hidden]="!class.show">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{class.ClassName}}</mat-card-title>
              <mat-card-subtitle>{{class.NicknameEn}}</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content class="classCardContent">
              <div class="classCardContentItem">
                Day : {{class.date.toString().split(' ')[0]}}
              </div>
              <div class="classCardContentItem">
                Time : {{class.date.toString().split(' ')[4].substr(0,5)}}
              </div>
              <button mat-button (click)="go('admin/class/'+class.ID);">Student : {{class.StudentCount}}</button>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button routerLink="/admin/student" routerLinkActive="active">LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<router-outlet></router-outlet>
